单步骤重新生成.json
{
  "name": "单步骤重新生成",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"step\": {\n    \"id\": \"string\",\n    \"time\": \"string\",\n    \"title\": \"string\",\n    \"objective\": \"string\",\n    \"activity\": \"string\",\n    \"script\": \"string\",\n    \"assets\": [\n      {\n        \"id\": \"string\",\n        \"type\": \"string\",\n        \"title\": \"string\",\n        \"prompt\": \"string\"\n      }\n    ]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [224, 336],
      "id": "d679f425-6c14-44e8-916d-73979eecc803",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "deepseek-v4-flash"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-32, 336],
      "id": "e789ddb4-2390-4d29-a7b4-c4db00224046",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EPHUtiZYNuQoGVK2",
          "name": "deepseek"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "f8fdb4b6-4ba5-4fc6-867e-2de41abd3f87",
      "name": "返回步骤JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [528, 128]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "course-step-regenerator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a6ce9941-42be-432d-9966-2b766a833832",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-384, 128],
      "webhookId": "course-step-regen-01"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json.body;\n\nconst phaseInfo = {\n  engage: { label: 'Engage (引入)', description: '建立情感连接与情境导入，激发好奇心和参与动机' },\n  empower: { label: 'Empower (赋能)', description: '输入语言知识与SEL技能，进行体感探索' },\n  execute: { label: 'Execute (实践)', description: '通过艺术表达完成终极产出任务，体验合作分享' },\n  elevate: { label: 'Elevate (升华)', description: '反思、内化并建立积极情绪闭环' }\n};\n\nconst phaseKey = input.phaseKey || 'engage';\nconst info = phaseInfo[phaseKey];\n\nlet currentStepStr = '无';\nif (input.currentStep) {\n  const s = input.currentStep;\n  currentStepStr = `ID: ${s.id}\\n标题: ${s.title}\\n时长: ${s.time}\\n目标: ${s.objective || ''}`;\n}\n\nlet siblingStepsStr = '无';\nif (input.siblingSteps && input.siblingSteps.length > 0) {\n  siblingStepsStr = input.siblingSteps.map((s, i) => `${i+1}. ${s.title} (${s.time})`).join('\\n');\n}\n\nlet otherPhasesStr = '无';\nif (input.otherPhases) {\n  try {\n    otherPhasesStr = typeof input.otherPhases === 'string' ? input.otherPhases : JSON.stringify(input.otherPhases, null, 2);\n  } catch (e) {\n    otherPhasesStr = '无法解析';\n  }\n}\n\nreturn {\n  age: input.age || '7-9岁',\n  duration: input.duration || '60分钟',\n  scale: input.scale || '≤ 8人',\n  title: input.title || '未命名课件',\n  vocabulary: (input.vocabulary && input.vocabulary.length > 0) \n    ? (Array.isArray(input.vocabulary) ? input.vocabulary.join(', ') : input.vocabulary)\n    : '请根据主题推荐词汇',\n  grammar: (input.grammar && input.grammar.length > 0) \n    ? (Array.isArray(input.grammar) ? input.grammar.join(', ') : input.grammar)\n    : '请根据主题推荐句型',\n  theme: input.theme || '默认主题',\n  requirements: input.requirements || '',\n  phaseKey: phaseKey,\n  phaseLabel: info.label,\n  phaseDescription: info.description,\n  stepId: input.stepId || '',\n  currentStep: currentStepStr,\n  siblingSteps: siblingStepsStr,\n  otherPhases: otherPhasesStr\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-176, 128],
      "id": "c505b546-42fa-4b2b-8177-4274b906961d",
      "name": "参数组装"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\n你是一位拥有15年经验的资深儿童英语课程设计师，擅长将 SEL（社会情感学习）和 PERMA 幸福模型无缝融入英语教学。\n\n# Task\n请根据以下课程信息，为「{{ $json.phaseLabel }}」阶段重新生成一个教学步骤，替换当前步骤。新步骤必须与同阶段其他步骤以及整体叙事保持连贯。\n\n# 课程信息\n- 学生年龄：{{ $json.age }}\n- 课程时长：{{ $json.duration }}\n- 班级规模：{{ $json.scale }}\n- 课程标题：{{ $json.title }}\n- 核心词汇：{{ $json.vocabulary }}\n- 核心句型：{{ $json.grammar }}\n- 情境主题：{{ $json.theme }}\n- 特殊要求：{{ $json.requirements }}\n\n# 本阶段信息\n- 阶段名称：{{ $json.phaseLabel }}\n- 阶段定位：{{ $json.phaseDescription }}\n\n# 当前要替换的步骤\n{{ $json.currentStep }}\n\n# 同阶段其他步骤（保持叙事连贯）\n{{ $json.siblingSteps }}\n\n# 其他阶段（保持整体叙事一致）\n{{ $json.otherPhases }}\n\n# Step 字段规范\n生成的步骤必须包含以下字段：\n- `id`: 固定为 \"{{ $json.stepId }}\"\n- `time`: 具体时长，如 \"5-10分钟\"\n- `title`: 环节标题，富有想象力和故事感，与整体叙事一致\n- `objective`: 教学目标，必须同时包含语言目标和 SEL 目标\n- `activity`: 活动描述，包含具体的活动流程、师生互动方式、分组形式等\n- `script`: 教师讲稿，亲切、有感染力，符合7-9岁儿童心理特征，中英文穿插（讲稿主体为中文，指令性语言带英文），必须包含情境创设内容\n- `assets`: 教学资源数组，包含 1 个资源：`{ \"id\": \"asset-{{ $json.stepId }}\", \"type\": \"image\", \"title\": \"资源名称\", \"prompt\": \"生图提示词\" }`\n- `assets[].prompt` 必须严格遵守：扁平矢量插画，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩、和谐的柔和色调、连贯的配色方案，简化但风格化的背景，清晰的环境线稿，非写实扁平插画，干净亲和的美学，沉浸式叙事扁平背景，画面无人物无文字\n\n# Style Requirements\n- 教师讲稿：亲切、富有感染力，中英文穿插\n- 生图提示词：严格遵守扁平矢量插画的特定美学风格\n\n# Output Constraint\n- 必须且仅输出有效的 JSON 格式数据\n- 输出格式：{ \"step\": { ... } }\n- 严禁包含任何 Markdown 代码块标签或首尾解释性文字",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [32, 128],
      "id": "d13e69c6-a80d-45cc-af0b-2e049a68ddf2",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "117.50.218.161:5678",
            "connection": "keep-alive",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "phaseKey": "empower",
            "stepId": "em2",
            "title": "森林派对",
            "age": "7-9岁",
            "duration": "60分钟",
            "scale": "9-15人",
            "vocabulary": ["apple", "orange"],
            "grammar": ["Can I have your apple/orange, please?"],
            "theme": "森林探险",
            "currentStep": { "id": "em2", "title": "水果感知体验", "time": "10-15分钟" },
            "siblingSteps": [{ "title": "神秘邀请", "time": "5-10分钟" }],
            "otherPhases": {}
          },
          "webhookUrl": "http://117.50.218.161:5678/webhook/course-step-regenerator",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "参数组装",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "参数组装": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "返回步骤JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c3d4e5f6-be01-4b28-b964-f8e94bcf95ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "tags": []
}
