润色优化已有的任务名称.json
{
  "name": "course-content-polisher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "course-content-polisher",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1d2e3f4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200],
      "webhookId": "course-polish-01"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json.body;\n\nreturn {\n  courseTitle: input.courseTitle || '',\n  taskName: input.taskName || '',\n  storyContext: input.storyContext || '',\n  keyOutcome: input.keyOutcome || ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 200],
      "id": "c1d2e3f4-0002-4000-8000-000000000002",
      "name": "参数组装"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\n你是一位拥有15年经验的资深儿童英语课程设计师和文案编辑。\n\n# Task\n对现有的课程情境任务内容进行润色优化，让表达更吸引人、更流畅、更有画面感。\n\n# Input\n- 课程名称：{{ $json.courseTitle }}\n- 当前任务名称：{{ $json.taskName }}\n- 当前故事情境：{{ $json.storyContext }}\n- 当前终极产出：{{ $json.keyOutcome }}\n\n# Requirements\n- 保持原有的创意方向和核心内容不变\n- 润色语言表达，使其更生动、更有沉浸感和画面感\n- 任务名称：保持原有长度范围，让表达更有吸引力\n- 故事情境：优化叙事节奏和语言张力，按【角色】-【场景】-【问题/需求】-【要做的关键事】结构调整\n- 终极产出：让描述更具体、更可操作\n- 如果某个字段为空，请不要生成新内容，保持为空\n\n# Output Constraint\n- 必须且仅输出有效的 JSON 格式数据\n- 严禁包含任何 Markdown 代码块标签或首尾解释性文字\n\n### 输出格式：\n{\n  \"taskName\": \"润色后的任务名称\",\n  \"storyContext\": \"润色后的故事情境\",\n  \"keyOutcome\": \"润色后的终极产出\"\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [640, 200],
      "id": "c1d2e3f4-0003-4000-8000-000000000003",
      "name": "内容润色"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "deepseek-v4-flash"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [640, 400],
      "id": "c1d2e3f4-0004-4000-8000-000000000004",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EPHUtiZYNuqoGVK2",
          "name": "deepseek"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {}
      },
      "id": "c1d2e3f4-0005-4000-8000-000000000005",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "参数组装", "type": "main", "index": 0 }]]
    },
    "参数组装": {
      "main": [[{ "node": "内容润色", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "内容润色", "type": "ai_languageModel", "index": 0 }]]
    },
    "内容润色": {
      "main": [[{ "node": "返回结果", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
