重新生成课程概览图.json
{
  "name": "course-theme-image-generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "course-theme-image-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200],
      "webhookId": "course-theme-image-gen-01"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json.body;\nconst imagePrompt = input.themeImagePrompt || '';\n\nif (!imagePrompt) {\n  throw new Error('缺少 themeImagePrompt 参数');\n}\n\nconst seed = Math.floor(Math.random() * 1000000000000);\n\nconst workflow = {\n  \"1\": {\n    \"inputs\": {\n      \"unet_name\": \"z_image_turbo_bf16.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\",\n    \"_meta\": { \"title\": \"UNet加载器\" }\n  },\n  \"2\": {\n    \"inputs\": { \"vae_name\": \"ae.safetensors\" },\n    \"class_type\": \"VAELoader\",\n    \"_meta\": { \"title\": \"加载VAE\" }\n  },\n  \"3\": {\n    \"inputs\": {\n      \"clip_name\": \"qwen_3_4b.safetensors\",\n      \"type\": \"lumina2\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\",\n    \"_meta\": { \"title\": \"加载CLIP\" }\n  },\n  \"4\": {\n    \"inputs\": {\n      \"shift\": 3,\n      \"model\": [ \"1\", 0 ]\n    },\n    \"class_type\": \"ModelSamplingAuraFlow\",\n    \"_meta\": { \"title\": \"采样算法（AuraFlow）\" }\n  },\n  \"5\": {\n    \"inputs\": {\n      \"width\": 2048,\n      \"height\": 1152,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\",\n    \"_meta\": { \"title\": \"空Latent图像（SD3）\" }\n  },\n  \"6\": {\n    \"inputs\": {\n      \"text\": imagePrompt,\n      \"clip\": [ \"3\", 0 ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": { \"title\": \"正向提示词\" }\n  },\n  \"7\": {\n    \"inputs\": {\n      \"seed\": seed,\n      \"steps\": 20,\n      \"cfg\": 4,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"beta\",\n      \"model\": [ \"4\", 0 ],\n      \"positive\": [ \"6\", 0 ],\n      \"negative\": [ \"6\", 0 ],\n      \"latent_image\": [ \"5\", 0 ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": { \"title\": \"KSampler\" }\n  },\n  \"8\": {\n    \"inputs\": {\n      \"samples\": [ \"7\", 0 ],\n      \"vae\": [ \"2\", 0 ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": { \"title\": \"VAE解码\" }\n  },\n  \"10\": {\n    \"inputs\": {\n      \"filename_prefix\": \"Universal_Scene\",\n      \"images\": [ \"8\", 0 ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": { \"title\": \"保存图片\" }\n  }\n};\n\nreturn {\n  comfyuiPayload: workflow\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 200],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "构建图片工作流"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.comfyuiPayload)}}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 200],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "提交ComfyUI任务"
    },
    {
      "parameters": {
        "jsCode": "const promptId = $input.item.json.prompt_id;\nconst comfyUrl = \"https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com\";\nconst maxAttempts = 600;\n\nfor (let i = 0; i < maxAttempts; i++) {\n  await new Promise(r => setTimeout(r, 3000));\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${comfyUrl}/history/${promptId}`,\n      json: true\n    });\n    const taskData = Object.values(res)[0];\n    if (taskData && taskData.outputs) {\n      const images = taskData.outputs['10']?.images || [];\n      if (images.length > 0) {\n        const img = images[0];\n        const imageUrl = `${comfyUrl}/view?filename=${img.filename}&subfolder=${img.subfolder || ''}&type=${img.type || 'output'}`;\n        return { themeImageUrl: imageUrl };\n      }\n    }\n    if (taskData?.status?.status_str === 'error') {\n      return { themeImageUrl: null, error: '图片生成失败(ComfyUI内部报错)' };\n    }\n  } catch (e) {\n    console.log(\"轮询报错，继续重试:\", e.message);\n  }\n}\nreturn { themeImageUrl: null, error: '图片生成超时' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 200],
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "等待图片完成"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "构建图片工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建图片工作流": {
      "main": [
        [
          {
            "node": "提交ComfyUI任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交ComfyUI任务": {
      "main": [
        [
          {
            "node": "等待图片完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待图片完成": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
