n8n/教案/课程生成生产级流程.json
{
  "name": "课程生成生产级流程",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"courseData\": {\n    \"courseOverview\": {\n      \"courseTitle\": \"string\",\n      \"corePhilosophy\": \"string\",\n      \"overallContext\": \"string\",\n      \"languageGoals\": {\n        \"vocabulary\": \"string\",\n        \"grammar\": \"string\"\n      },\n      \"selGoals\": \"string\",\n      \"permaGoals\": \"string\",\n      \"finalTask\": \"string\",\n      \"themeImagePrompt\": \"string\"\n    },\n    \"engage\": {\n      \"title\": \"string\",\n      \"color\": \"string\",\n      \"steps\": [\n        {\n          \"id\": \"string\",\n          \"time\": \"string\",\n          \"title\": \"string\",\n          \"objective\": \"string\",\n          \"activity\": \"string\",\n          \"activitySteps\": \"string\",\n          \"scenario\": \"string\",\n          \"script\": \"string\",\n          \"assets\": [\n            {\n              \"id\": \"string\",\n              \"type\": \"string\",\n              \"title\": \"string\",\n              \"prompt\": \"string\"\n            }\n          ]\n        }\n      ]\n    },\n    \"empower\": { \"title\": \"string\", \"color\": \"string\", \"steps\": [] },\n    \"execute\": { \"title\": \"string\", \"color\": \"string\", \"steps\": [] },\n    \"elevate\": { \"title\": \"string\", \"color\": \"string\", \"steps\": [] }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        480
      ],
      "id": "d8fa84ea-381e-4a6c-9e21-03fea2c2d1fb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "deepseek-v4-flash"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 30000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        480
      ],
      "id": "b8000fd5-c684-4016-b84c-20c4da243947",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EPHUtiZYNuqoGVK2",
          "name": "deepseek"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "fb2f25b5-b7e4-436e-ab29-b62cbf02403e",
      "name": "返回课程JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        864,
        272
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "course-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2c572a13-677f-4283-b134-e8b3c17dae5b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -48,
        272
      ],
      "webhookId": "course-gen-01"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json.body;\n\nconst courseOverview = input.course_overview || '';\nlet courseOverviewText = '';\nif (courseOverview) {\n  try {\n    const ov = typeof courseOverview === 'string' ? JSON.parse(courseOverview) : courseOverview;\n    courseOverviewText = `已有课程概览如下，请严格基于此概览生成教案，保持故事情境、教学目标、产出任务完全一致：\\n标题：${ov.courseTitle || ''}\\n情境：${ov.overallContext || ''}\\n语言目标：词汇=${ov.languageGoals?.vocabulary || ''}，句型=${ov.languageGoals?.grammar || ''}\\nSEL目标：${ov.selGoals || ''}\\nPERMA目标：${ov.permaGoals || ''}\\n产出任务：${ov.finalTask || ''}`;\n  } catch (e) {\n    courseOverviewText = courseOverview;\n  }\n}\n\nreturn {\n  age: input.age || \"7-9岁\",\n  duration: input.duration || \"60分钟\",\n  scale: input.scale || \"≤ 8人\",\n  title: input.title || \"未命名课件\",\n  vocabulary: (input.vocabulary && input.vocabulary.length > 0) \n              ? input.vocabulary.join(', ') \n              : \"请根据主题推荐词汇\",\n  grammar: (input.grammar && input.grammar.length > 0) \n           ? input.grammar.join(', ') \n           : \"请根据主题推荐句型\",\n  skills_text: input.skills ? input.skills.join(' + ') : \"\",\n  paths_text: input.paths ? input.paths.join(' + ') : \"\",\n  theme: input.theme || \"\",\n  requirements: input.requirements || \"\",\n  course_overview: courseOverview,\n  course_overview_text: courseOverviewText\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        272
      ],
      "id": "11506555-8df3-40f9-9ab9-e3af104b78c1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\n你是一位拥有15年经验的资深儿童英语课程设计师，擅长将 SEL（社会情感学习）和 PERMA 幸福模型无缝融入英语教学。\n\n# Core Framework\n你必须严格遵循以下教学法生成内容：\n1. 核心理念：以\"幸福力\"为终极目标，通过\"英语+体验路径\"实现儿童三维成长。\n2. 4E 学习闭环：\n   - Engage (吸引)：建立情感连接与情境导入。\n   - Empower (赋能)：输入语言知识与SEL技能，进行体感探索。\n   - Execute (执行)：通过艺术表达完成终极产出任务。\n   - Elevate (升华)：反思、内化并建立积极情绪闭环。\n3. 叙事要求：所有环节必须串联在一个完整的、具有沉浸感的故事叙事中。\n\n# 内容生成要求\n\n## 各阶段 Step 数量与时长分配\n- 根据总课程时长 {{ $json.duration }}，合理分配 4 个阶段的时间。\n- Engage: 1 个 step，约占总时长的 15%\n- Empower: 2 个 steps，约占总时长的 40%\n- Execute: 2 个 steps，约占总时长的 30%\n- Elevate: 1 个 step，约占总时长的 15%\n- 所有 step 的 time 累加必须等于总课程时长 {{ $json.duration }}。\n\n## Step 字段规范\n每个 step 必须包含以下字段：\n- `id`: 阶段缩写 + 序号，如 \"e1\", \"em1\", \"ex1\", \"el1\"\n- `time`: 具体时长，如 \"5-10分钟\"\n- `title`: 环节标题，富有想象力和故事感，与整体叙事一致\n- `objective`: 教学目标，必须同时包含语言目标和 SEL 目标\n- `activity`: 活动概述，简要概括本环节的活动名称、形式和核心内容（1-2句话）\n- `activitySteps`: 活动流程，详细描述具体的操作步骤、师生互动方式、分组形式、游戏规则等，使用编号列表格式（如 ①... ②... ③...）\n- `scenario`: 情境创设，描述如何营造沉浸式故事场景，包括环境布置、道具使用、氛围营造等，让学生感受到故事推进\n- `script`: 教师讲稿，亲切、有感染力，符合7-9岁儿童心理特征，中英文穿插（讲稿主体为中文，指令性语言带英文），是教师实际说的话\n- `assets`: 教学资源数组，每个资源包含 `id`, `type`(\"image\"), `title`, `prompt`\n\n## 教学资源要求\n- 每个 step 必须生成 1 个 `assets` 资源。\n- `assets[].title` 应描述具体的教学资源名称，如\"森林派对邀请海报\"、\"水果感知场景\"等。\n- `assets[].prompt` 必须严格遵守以下生图风格：扁平矢量插画，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩、和谐的柔和色调、连贯的配色方案，简化但风格化的背景，清晰的环境线稿，非写实扁平插画，干净亲和的美学，沉浸式叙事扁平背景，画面无人物无文字。\n\n## 情境创设要求\n- 每个 step 的 `script` 字段必须包含情境创设内容，用于构建沉浸式故事场景。\n- 情境创设应与整体故事叙事紧密关联，让学生感受到连贯的故事体验。\n\n# Style Requirements\n- 教师讲稿 (Script)：亲切、富有感染力，符合7-9岁儿童的心理特征，中英文穿插（讲稿主体为中文，指令性语言带英文）。\n- 生图提示词 (Prompt)：严格遵守\"扁平矢量插画，黑色轮廓线，2D扁平设计，单线风格，无人物无文字\"的特定美学风格。\n\n# Output Constraint\n- 必须且仅输出有效的 JSON 格式数据。\n- 字数控制在10000个中文字以内。\n- 严禁包含任何 Markdown 代码块标签 (如 ```json) 或首尾解释性文字。\n请基于以下输入数据，逆向设计一套完整的课程蓝图。\n\n### 原始课程输入数据\n- 学生年龄：{{ $json.age }}\n- 课程时长：{{ $json.duration }}\n- 班级规模：{{ $json.scale }}\n- 核心词汇：{{ $json.vocabulary }}\n- 核心句型：{{ $json.grammar }}\n- 侧重能力：{{ $json.skills_text }}（如果为空，请根据学生年龄和主题自主选择）\n- 体验路径：{{ $json.paths_text }}（如果为空，请根据学生年龄和主题自主选择）\n- 初始主题：{{ $json.theme }}（如果为空，请自主设计情境主题）\n- 特殊要求：{{ $json.requirements }}\n- 核心理念：PERMA模型 + SEL核心\n\n### 已有课程概览（如果以下内容不为空，必须严格基于此概览生成教案，保持故事情境、教学目标、产出任务完全一致）\n{{ $json.course_overview_text }}\n\n### 任务要求\n1. **叙事构建**：{{ $json.course_overview_text }}基于\"{{ $json.theme }}\"和核心词汇，创造一个富有想象力的故事背景。故事必须贯穿所有 4 个阶段，每个阶段都是故事的一个情节推进。\n2. **SEL与语言融合**：在学习核心句型时，必须嵌入对应的社会情感技能（如请求帮助、分享物品、表达感谢等）。\n3. **生图提示词**：为课程封面和每个教学环节设计具体的 AI 生图提示词，严格遵循前述风格要求。\n4. **活动流程细化**：每个 step 的 `activity` 字段必须包含清晰的活动流程描述，包括具体的师生互动、分组形式、操作步骤等。\n5. **情境创设**：每个 step 的 `script` 中应包含情境创设内容，前端会单独提取展示为\"情境创设\"。\n6. **时长合理性**：所有 step 的 `time` 累加必须等于总课程时长 {{ $json.duration }}，时间分配要合理。\n7. **完整填充**：empower、execute、elevate 三个阶段的 steps 数组不能为空，必须按数量要求生成完整的 step 数据。\n\n# JSON Validation Rules (CRITICAL)\n1. 必须确保所有的 JSON 键（Key）和值（Value）都使用标准的英文双引号 (\") 包裹。\n2. 严禁在 JSON 结构中使用中文全角引号（\" \"）或单引号。\n3. 教师讲稿和活动描述中的内容如果包含引号，必须使用反斜杠进行转义（如 \\\"内容\\\"）。\n4. 确保输出的是一个完整、闭合的 JSON 对象，没有任何截断。\n5. 你的全部输出必须是一个合法的 JSON 对象，直接以 {\"courseData\": 开头，以 } 结尾。\n6. 严禁将结果嵌套在 \"output\"、\"text\" 或任何其他键（Key）之中。\n7. 严禁包含任何 Markdown 格式（不要使用 ```json 或 ``` 标签）。\n8. 严禁包含任何 JSON 之外的解释性文字。\n\n### 请严格按照以下格式填充数据并输出：\n{\n  \"courseData\": {\n    \"courseOverview\": {\n      \"courseTitle\": \"[吸引人的中英文标题，结合主题和核心词汇]\",\n      \"corePhilosophy\": \"PERMA + SEL + 体验驱动\",\n      \"overallContext\": \"[详细的故事背景描述，200-300字，包含故事起因、发展和结局的伏笔]\",\n      \"languageGoals\": {\n        \"vocabulary\": \"{{ $json.vocabulary }}\",\n        \"grammar\": \"{{ $json.grammar }}\"\n      },\n      \"selGoals\": \"[具体的SEL能力目标，如：社交意识——学会用礼貌的语言请求帮助和分享物品；人际关系技能——在合作中表达感谢与善意]\",\n      \"permaGoals\": \"[对应的幸福力目标，如：Positive Emotions（快乐、期待），Relationships（合作与分享），Meaning（通过分享创造美好回忆）]\",\n      \"finalTask\": \"[具体的可视化产出任务，描述清晰，如：艺术表达：每个孩子用彩色纸和水彩笔绘制一种水果，组合成一幅大型的水果拼盘画；音乐律动：集体演唱并表演改编的歌曲]\",\n      \"themeImagePrompt\": \"扁平矢量插画，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩、和谐的柔和色调、连贯的配色方案，简化但风格化的背景环境，清晰的环境线稿，非写实扁平插画，角色的符号化表情，干净亲和的美学，沉浸式叙事扁平背景，画面无人物无文字，[加入具体情境描述，与课程主题相关]\"\n    },\n    \"engage\": {\n      \"title\": \"Engage (引入)\",\n      \"color\": \"bg-purple-100 text-purple-700 border-purple-200\",\n      \"steps\": [\n        {\n          \"id\": \"e1\",\n          \"time\": \"[具体时长，如5-10分钟]\",\n          \"title\": \"[环节标题，富有故事感]\",\n          \"objective\": \"[教学目标：语言目标+SEL目标]\",\n          \"activity\": \"[活动概述：简要概括活动名称、形式和核心内容，1-2句话]\",\n          \"activitySteps\": \"[活动流程：详细操作步骤，如 ①教师展示... ②学生分组... ③...]\",\n          \"scenario\": \"[情境创设：如何营造沉浸式场景，包括环境布置、道具、氛围等]\",\n          \"script\": \"[教师讲稿：教师实际说的话，中英文穿插]\",\n          \"assets\": [\n            {\n              \"id\": \"asset-e1\",\n              \"type\": \"image\",\n              \"title\": \"[素材名，如森林派对邀请海报]\",\n              \"prompt\": \"[符合前述风格的环节生图提示词，包含具体场景描述]\"\n            }\n          ]\n        }\n      ]\n    },\n    \"empower\": {\n      \"title\": \"Empower (赋能)\",\n      \"color\": \"bg-blue-100 text-blue-700 border-blue-200\",\n      \"steps\": [\n        {\n          \"id\": \"em1\",\n          \"time\": \"[具体时长]\",\n          \"title\": \"[环节标题]\",\n          \"objective\": \"[教学目标]\",\n          \"activity\": \"[活动描述]\",\n          \"script\": \"[教师讲稿]\",\n          \"assets\": [\n            {\n              \"id\": \"asset-em1\",\n              \"type\": \"image\",\n              \"title\": \"[素材名]\",\n              \"prompt\": \"[生图提示词]\"\n            }\n          ]\n        },\n        {\n          \"id\": \"em2\",\n          \"time\": \"[具体时长]\",\n          \"title\": \"[环节标题]\",\n          \"objective\": \"[教学目标]\",\n          \"activity\": \"[活动描述]\",\n          \"script\": \"[教师讲稿]\",\n          \"assets\": [\n            {\n              \"id\": \"asset-em2\",\n              \"type\": \"image\",\n              \"title\": \"[素材名]\",\n              \"prompt\": \"[生图提示词]\"\n            }\n          ]\n        }\n      ]\n    },\n    \"execute\": {\n      \"title\": \"Execute (实践)\",\n      \"color\": \"bg-green-100 text-green-700 border-green-200\",\n      \"steps\": [\n        {\n          \"id\": \"ex1\",\n          \"time\": \"[具体时长]\",\n          \"title\": \"[环节标题]\",\n          \"objective\": \"[教学目标]\",\n          \"activity\": \"[活动描述]\",\n          \"script\": \"[教师讲稿]\",\n          \"assets\": [\n            {\n              \"id\": \"asset-ex1\",\n              \"type\": \"image\",\n              \"title\": \"[素材名]\",\n              \"prompt\": \"[生图提示词]\"\n            }\n          ]\n        },\n        {\n          \"id\": \"ex2\",\n          \"time\": \"[具体时长]\",\n          \"title\": \"[环节标题]\",\n          \"objective\": \"[教学目标]\",\n          \"activity\": \"[活动描述]\",\n          \"script\": \"[教师讲稿]\",\n          \"assets\": [\n            {\n              \"id\": \"asset-ex2\",\n              \"type\": \"image\",\n              \"title\": \"[素材名]\",\n              \"prompt\": \"[生图提示词]\"\n            }\n          ]\n        }\n      ]\n    },\n    \"elevate\": {\n      \"title\": \"Elevate (升华)\",\n      \"color\": \"bg-yellow-100 text-yellow-700 border-yellow-200\",\n      \"steps\": [\n        {\n          \"id\": \"el1\",\n          \"time\": \"[具体时长]\",\n          \"title\": \"[环节标题]\",\n          \"objective\": \"[教学目标]\",\n          \"activity\": \"[活动描述]\",\n          \"script\": \"[教师讲稿]\",\n          \"assets\": [\n            {\n              \"id\": \"asset-el1\",\n              \"type\": \"image\",\n              \"title\": \"[素材名]\",\n              \"prompt\": \"[生图提示词]\"\n            }\n          ]\n        }\n      ]\n    }\n  }\n}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        368,
        272
      ],
      "id": "a8082017-b950-40a0-aff8-b5fb89579881",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "117.50.218.161:5678",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-n8n-api-key": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4NWQyZTAzYS02MDIwLTRiMTMtOTQxYy01ZDQzNWY5MDEyODIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNWRhYjRlZjAtMDA0Mi00ZjlkLWE0Y2YtZDRlYjllMWI0ZmZjIiwiaWF0IjoxNzc1Njk2NjY0fQ.zB0gcR4_AdzSiyYcWbIGKQH1tTGoVdzaBepuwFTzZCE",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "gzip, deflate",
            "content-length": "326"
          },
          "params": {},
          "query": {},
          "body": {
            "age": "7-9岁",
            "duration": "60分钟",
            "scale": "9-15人",
            "title": "森林派对",
            "vocabulary": [],
            "grammar": [],
            "skills": [
              "听力理解",
              "口语表达"
            ],
            "paths": [
              "艺术表达",
              "音乐律动"
            ],
            "theme": "森林探险",
            "requirements": "",
            "userId": "a60de280-e685-4e11-b69b-72ec1b723a22",
            "organizationId": null,
            "timestamp": 1777532516642
          },
          "webhookUrl": "http://117.50.218.161:5678/webhook/course-generator",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "返回课程JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8088151e-1ea5-4d63-8380-da2871fea4dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "id": "62gxEWdwMWYSItyq",
  "tags": []
}