n8n/概览/课程概览生成.json
{
  "name": "课程概览生成",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "course-overview-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "134885af-02f6-40cd-8f89-7923d8a4fc49",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        3152,
        192
      ],
      "webhookId": "course-overview-01"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json.body || $input.item.json || {};\nconst language = input.language || 'zh';\nconst outputLanguage = input.outputLanguage || (language === 'en' ? 'English' : 'Chinese');\nconst isEnglish = String(outputLanguage).toLowerCase().includes('english') || language === 'en';\n\nconst recommendVocabulary = isEnglish ? 'Recommend suitable vocabulary based on the theme.' : '请根据主题推荐词汇';\nconst recommendGrammar = isEnglish ? 'Recommend suitable sentence patterns based on the theme.' : '请根据主题推荐句型';\nconst defaultTheme = isEnglish ? 'Default theme' : '默认主题';\nconst languageGuard = isEnglish\n  ? 'CRITICAL: outputLanguage is English. Every user-facing JSON value must be English only. Do not output any Chinese characters, Chinese punctuation, Chinese parentheses, or bilingual labels. If a value would be Chinese, translate it to natural English before returning JSON.'\n  : '请使用中文生成所有面向用户的 JSON 值，JSON key 保持英文。';\nconst lineBreak = String.fromCharCode(10);\n\nreturn {\n  language,\n  outputLanguage,\n  age: input.age || (isEnglish ? '7-9' : '7-9岁'),\n  duration: input.duration || (isEnglish ? '60 min' : '60分钟'),\n  scale: input.scale || (isEnglish ? '9-15' : '9-15人'),\n  vocabulary: (input.vocabulary && input.vocabulary.length > 0)\n    ? (Array.isArray(input.vocabulary) ? input.vocabulary.join(', ') : input.vocabulary)\n    : recommendVocabulary,\n  grammar: (input.grammar && input.grammar.length > 0)\n    ? (Array.isArray(input.grammar) ? input.grammar.join(', ') : input.grammar)\n    : recommendGrammar,\n  skills_text: (input.skills && input.skills.length > 0)\n    ? (Array.isArray(input.skills) ? input.skills.join(', ') : input.skills)\n    : '',\n  paths_text: (input.paths && input.paths.length > 0)\n    ? (Array.isArray(input.paths) ? input.paths.join(', ') : input.paths)\n    : '',\n  theme: input.theme || defaultTheme,\n  requirements: input.requirements || input.specialRequirements || '',\n  adjustments: input.adjustments || '',\n  existing_overview: input.existing_overview || input.existingOverview || input.courseOverview || '',\n  course_title: input.courseTitle || '',\n  task_name: input.taskName || '',\n  story_context: input.storyContext || '',\n  key_outcome: input.keyOutcome || '',\n  atmosphere: input.atmosphere || '',\n  attachments: (input.attachments && input.attachments.length > 0)\n    ? (Array.isArray(input.attachments) ? input.attachments.join(', ') : input.attachments)\n    : '',\n  growth: input.growth || '',\n  output_instruction: [languageGuard, input.outputInstruction || ''].filter(Boolean).join(lineBreak),\n  theme_image_instruction: input.themeImageInstruction || '',\n  task_type: input.taskType || '',\n  generation_type: input.generationType || '',\n  expected_output: input.expectedOutput ? JSON.stringify(input.expectedOutput) : ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        192
      ],
      "id": "ad1046ea-783a-45d9-9a96-6277c0ba6200",
      "name": "参数组装"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "deepseek-v4-flash"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3504,
        400
      ],
      "id": "17ebcddf-b6ee-4627-9ca2-426517877699",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EPHUtiZYNuqoGVK2",
          "name": "deepseek"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nYou are a senior children's English curriculum designer with 15 years of experience. You design immersive courses that integrate SEL and the PERMA wellbeing model into English learning.\n\n# Output Language - Critical Lock\n- The required output language is: {{ $json.outputLanguage }}.\n- Generate EVERY user-facing string value in {{ $json.outputLanguage }}.\n- JSON keys must remain exactly as specified in English.\n- If {{ $json.outputLanguage }} is English, all values under courseOverview must be English only. Do not include Chinese characters, Chinese punctuation, Chinese parentheses, bilingual text, or Chinese translations anywhere in the JSON values.\n- If any generated value contains Chinese while outputLanguage is English, the output is invalid and must be regenerated in English before responding.\n- Keep framework terms such as Engage, Empower, Execute, Elevate, SEL, PERMA, and PERMA + SEL + Experience-Driven in English.\n\n# Task\nGenerate a course overview from the input parameters, including title, story context, teaching goals, final outcome, class journey, learning experience, and theme image prompt.\n\n# Core Framework\n1. Core idea: build wellbeing through English + experiential learning paths.\n2. 4E cycle: Engage -> Empower -> Execute -> Elevate.\n3. Narrative requirement: all sections must connect into one immersive story.\n\n# Input\n- Course title: {{ $json.course_title }} (if empty, create an engaging title in {{ $json.outputLanguage }})\n- Student age: {{ $json.age }}\n- Duration: {{ $json.duration }}\n- Class size: {{ $json.scale }}\n- Core vocabulary: {{ $json.vocabulary }}\n- Grammar / sentence patterns: {{ $json.grammar }}\n- Language skill focus: {{ $json.skills_text }} (if empty, choose 1-2 suitable skills based on age, theme, and language goals)\n- Experience paths: {{ $json.paths_text }} (if empty, choose 1-2 suitable paths based on age and theme)\n- Initial theme: {{ $json.theme }} (if empty, create an imaginative theme based on age, vocabulary, and experience paths)\n- Task name: {{ $json.task_name }} (if empty, create a meaningful mission name)\n- Story context: {{ $json.story_context }} (if provided, refine and expand it; if empty, create an immersive story)\n- Final outcome: {{ $json.key_outcome }} (if provided, design finalTask based on it; if empty, create a concrete visible outcome)\n- Atmosphere: {{ $json.atmosphere }} (if empty or automatic, choose a fitting atmosphere such as mystery, performance, warmth, teamwork, or exploration)\n- Attachments: {{ $json.attachments }}\n- Special requirements: {{ $json.requirements }}\n\n# Existing Course Overview\nIf this is not empty, adjust and improve the existing overview instead of starting from scratch:\n{{ $json.existing_overview }}\n\n# Adjustment Requests\n{{ $json.adjustments }}\n\n# Additional Hard Requirements From API\n{{ $json.output_instruction }}\n\n# Theme Image Hard Constraint\n{{ $json.theme_image_instruction }}\n\n# Style Requirements\n- Title: engaging, imaginative, in {{ $json.outputLanguage }}, tied to the theme and language goals.\n- Overall context: vivid and story-based. Chinese output: 200-300 Chinese characters. English output: 120-180 English words.\n- Theme image prompt: describe a flat vector illustration with even black outlines, single-line style, 2D flat design, no gradients, no shadows, low-saturation solid colors, soft harmonious palette, simplified stylized background, clear environmental line art, non-realistic friendly aesthetics, immersive narrative background, no people and no text. Strictly forbid readable text, letters, numbers, titles, labels, signs, whiteboards, posters, speech bubbles, comic bubbles, thought bubbles, text boxes, blank caption boxes, blank white panels, and any visual container designed to hold text.\n\n# Class Journey Requirements\ncourseOverview.journey is required and must include engage, empower, execute, and elevate.\n- engage: story launch based on this course's scene, clue, mission, or character goal.\n- empower: language learning based on vocabulary, sentence patterns, skills, or SEL goals.\n- execute: creation/application based on finalTask and experience paths.\n- elevate: presentation, reflection, SEL/PERMA growth, or transfer to life.\nEach journey field must be concrete and distinct. English output: 12-28 words each. Chinese output: 35-70 Chinese characters each.\n\n# Output Constraint\n- Return valid JSON only.\n- Do not include Markdown fences, explanations, or any wrapper key.\n- Use standard double quotes only.\n- Return exactly one JSON object beginning with {\"courseOverview\": and ending with }.\n\n# Required JSON Shape\n{\n  \"courseOverview\": {\n    \"courseTitle\": \"An engaging course title in the required output language\",\n    \"theme\": \"A short theme tag in the required output language\",\n    \"corePhilosophy\": \"PERMA + SEL + Experience-Driven\",\n    \"overallContext\": \"A vivid story-based course context in the required output language\",\n    \"languageGoals\": {\n      \"vocabulary\": \"Vocabulary learning goal in the required output language\",\n      \"grammar\": \"Grammar or sentence-pattern learning goal in the required output language\"\n    },\n    \"selGoals\": \"Specific SEL goals in the required output language\",\n    \"permaGoals\": \"Specific PERMA wellbeing goals in the required output language\",\n    \"finalTask\": \"A concrete visible final outcome in the required output language\",\n    \"journey\": {\n      \"engage\": \"Concrete Engage journey in the required output language\",\n      \"empower\": \"Concrete Empower journey in the required output language\",\n      \"execute\": \"Concrete Execute journey in the required output language\",\n      \"elevate\": \"Concrete Elevate journey in the required output language\"\n    },\n    \"experience\": \"One sentence describing the learning experience path in the required output language\",\n    \"themeImagePrompt\": \"A textless flat-vector cover image prompt in the required output language, with no people, no text, and no text containers\"\n  }\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3664,
        192
      ],
      "id": "9ab8e5f6-221f-445b-be87-de00e8cdbc1f",
      "name": "概览生成"
    },
    {
      "parameters": {
        "jsCode": "// 1. 获取前置节点的数据，并做兼容处理\nconst raw = $input.item.json;\nlet overview = raw.courseOverview;\n\nif (!overview && raw.text) {\n  try {\n    overview = JSON.parse(raw.text).courseOverview;\n  } catch(e) {}\n}\nif (!overview) {\n  overview = raw; // 兜底逻辑\n}\n\n// 2. 提取大模型生成的生图提示词\nlet generatedPrompt = overview.themeImagePrompt || \"\";\n// 仅保留 cj_vector_style 维持基础画风，加入强力的无人物/文字兜底词\nconst imagePrompt = `cj_vector_style, ${generatedPrompt}`;\nconst language = $('参数组装').first().json.language || 'zh';\n\nconst textLanguageRule = ', absolutely no text, no letters, no numbers, no Chinese characters, no English words, no labels, no title, no caption, no signs, no logo, no watermark, no speech bubbles, no dialogue balloons, no thought bubbles, no comic bubbles, no text boxes, no empty caption boxes, no blank white panels, no blank whiteboards, no blank posters, no blank signs, no written cards, no written whiteboards, no written posters, no visual containers designed to hold text';\n\n\n// 3. 生成随机种子，确保每次调用的画面都不一样\nconst seed = Math.floor(Math.random() * 1000000000000);\n\n// 4. 构建包含 LoRA 的 ComfyUI 工作流 (匹配 aa.json，用于纯场景生成)\nconst workflow = {\n  \"1\": {\n    \"inputs\": {\n      \"unet_name\": \"z_image_turbo_bf16.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\"\n  },\n  \"2\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\"\n  },\n  \"3\": {\n    \"inputs\": {\n      \"clip_name\": \"qwen_3_4b.safetensors\",\n      \"type\": \"lumina2\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\"\n  },\n  \"4\": {\n    \"inputs\": {\n      \"shift\": 3,\n      \"model\": [ \"1\", 0 ]\n    },\n    \"class_type\": \"ModelSamplingAuraFlow\"\n  },\n  \"5\": {\n    \"inputs\": {\n      \"width\": 1968,\n      \"height\": 1152,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\"\n  },\n  \"7\": {\n    \"inputs\": {\n      // 在原版负面提示词基础上，加入了屏蔽人物和文字的指令\n      \"text\": \"people, humans, characters, animals, text, fonts, typography, letters, words, numbers, Chinese characters, English words, captions, labels, title, signs, poster text, whiteboard writing, card writing, speech bubbles, dialogue balloons, thought bubbles, comic bubbles, text boxes, empty caption boxes, blank white panels, blank whiteboards, blank posters, blank signs, visual containers designed to hold text, logo, watermark, blurry, 3d, realistic, complex textures, bad anatomy, deformed, shadows, gradients\",\n      \"clip\": [ \"3\", 0 ]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"101\": {\n    \"inputs\": {\n      \"lora_name\": \"poppy.safetensors\",\n      \"strength_model\": 0.8,\n      \"strength_clip\": 1,\n      \"model\": [ \"4\", 0 ],\n      \"clip\": [ \"3\", 0 ]\n    },\n    \"class_type\": \"LoraLoader\"\n  },\n  \"102\": {\n    \"inputs\": {\n      \"text\": `${imagePrompt}${textLanguageRule}`, // <--- 注入处理后的纯净场景提示词\n      \"clip\": [ \"101\", 1 ]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"103\": {\n    \"inputs\": {\n      \"seed\": seed,\n      \"steps\": 20,\n      \"cfg\": 1.5,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [ \"101\", 0 ],\n      \"positive\": [ \"102\", 0 ],\n      \"negative\": [ \"7\", 0 ],\n      \"latent_image\": [ \"5\", 0 ]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"104\": {\n    \"inputs\": {\n      \"samples\": [ \"103\", 0 ],\n      \"vae\": [ \"2\", 0 ]\n    },\n    \"class_type\": \"VAEDecode\"\n  },\n  \"105\": {\n    \"inputs\": {\n      \"filename_prefix\": \"Universal_Scene\",\n      \"images\": [ \"104\", 0 ]\n    },\n    \"class_type\": \"SaveImage\"\n  }\n};\n\n// 5. 返回组装好的对象，将大模型生成的概览数据一起透传下去\nreturn {\n  courseOverview: overview, \n  comfyuiPayload: { \n    prompt: workflow \n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        192
      ],
      "id": "0d132115-3996-452a-98d4-a709e76f31fe",
      "name": "构建图片工作流"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.comfyuiPayload)}}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        192
      ],
      "id": "a0f3013c-f830-456f-8fab-f655e04bb184",
      "name": "提交ComfyUI任务"
    },
    {
      "parameters": {
        "jsCode": "const promptId = $input.item.json.prompt_id;\n\n// 去拿\"概览生成\"或者\"构建图片工作流\"里透传下来的纯净 JSON\nconst cleanCourseOverview = $('构建图片工作流').first().json.courseOverview;\n\nconst comfyUrl = \"https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com\";\nconst maxAttempts = 600;\n\nfor (let i = 0; i < maxAttempts; i++) {\n  // 每 3 秒查一次\n  await new Promise(r => setTimeout(r, 3000));\n  \n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${comfyUrl}/history/${promptId}`,\n      json: true\n    });\n    \n    const taskData = Object.values(res)[0];\n    \n    if (taskData && taskData.outputs) {\n      let images = [];\n      // 动态遍历所有 output 节点，寻找里面包含 images 数组的节点（无视节点ID变动）\n      for (const nodeId in taskData.outputs) {\n        if (taskData.outputs[nodeId].images && taskData.outputs[nodeId].images.length > 0) {\n          images = taskData.outputs[nodeId].images;\n          break;\n        }\n      }\n\n      if (images.length > 0) {\n        const img = images[0];\n        const imageUrl = `${comfyUrl}/view?filename=${img.filename}&subfolder=${img.subfolder || ''}&type=${img.type || 'output'}`;\n        \n        return {\n          courseOverview: cleanCourseOverview,\n          themeImageUrl: imageUrl\n        };\n      }\n    }\n    \n    if (taskData?.status?.status_str === 'error') {\n      return {\n        courseOverview: cleanCourseOverview,\n        themeImageUrl: null,\n        error: '图片生成失败(ComfyUI内部报错)'\n      };\n    }\n  } catch (e) {\n    console.log(\"轮询报错，继续重试:\", e.message);\n  }\n}\n\nreturn {\n  courseOverview: cleanCourseOverview,\n  themeImageUrl: null,\n  error: '图片生成超时'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        192
      ],
      "id": "6b4de76d-7752-4f0d-b18a-657bec143f42",
      "name": "等待图片完成"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {}
      },
      "id": "39c1a35c-6a9d-4ef1-8504-6c3dcbbd8a69",
      "name": "返回完整结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4496,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "参数组装",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "参数组装": {
      "main": [
        [
          {
            "node": "概览生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "概览生成",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "概览生成": {
      "main": [
        [
          {
            "node": "构建图片工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建图片工作流": {
      "main": [
        [
          {
            "node": "提交ComfyUI任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交ComfyUI任务": {
      "main": [
        [
          {
            "node": "等待图片完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待图片完成": {
      "main": [
        [
          {
            "node": "返回完整结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c4db13a4-a415-4bed-aa5b-0881e3429bb0",
  "meta": {
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "id": "YqdU9s7KibknkR1F",
  "tags": []
}
