n8n/概览/课程概览生成.json
{
  "name": "课程概览生成",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "course-overview-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "134885af-02f6-40cd-8f89-7923d8a4fc49",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        3152,
        192
      ],
      "webhookId": "course-overview-01"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json.body;\n\nreturn {\n  age: input.age || '7-9岁',\n  duration: input.duration || '60分钟',\n  scale: input.scale || '9-15人',\n  vocabulary: (input.vocabulary && input.vocabulary.length > 0) \n    ? (Array.isArray(input.vocabulary) ? input.vocabulary.join(', ') : input.vocabulary)\n    : '请根据主题推荐词汇',\n  grammar: (input.grammar && input.grammar.length > 0) \n    ? (Array.isArray(input.grammar) ? input.grammar.join(', ') : input.grammar)\n    : '请根据主题推荐句型',\n  skills_text: (input.skills && input.skills.length > 0) \n    ? (Array.isArray(input.skills) ? input.skills.join(', ') : input.skills)\n    : '',\n  paths_text: (input.paths && input.paths.length > 0) \n    ? (Array.isArray(input.paths) ? input.paths.join(', ') : input.paths)\n    : '',\n  theme: input.theme || '默认主题',\n  requirements: input.requirements || '',\n  adjustments: input.adjustments || '',\n  existing_overview: input.existing_overview || input.existingOverview || input.courseOverview || '',\n  course_title: input.courseTitle || '',\n  task_name: input.taskName || '',\n  story_context: input.storyContext || '',\n  key_outcome: input.keyOutcome || '',\n  atmosphere: input.atmosphere || '',\n  attachments: (input.attachments && input.attachments.length > 0)\n    ? (Array.isArray(input.attachments) ? input.attachments.join(', ') : input.attachments)\n    : '',\n  growth: input.growth || '',\n  output_instruction: input.outputInstruction || '',\n  task_type: input.taskType || '',\n  generation_type: input.generationType || '',\n  expected_output: input.expectedOutput ? JSON.stringify(input.expectedOutput) : ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        192
      ],
      "id": "ad1046ea-783a-45d9-9a96-6277c0ba6200",
      "name": "参数组装"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "deepseek-v4-flash"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3504,
        400
      ],
      "id": "17ebcddf-b6ee-4627-9ca2-426517877699",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EPHUtiZYNuqoGVK2",
          "name": "deepseek"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\n你是一位拥有15年经验的资深儿童英语课程设计师，擅长将 SEL（社会情感学习）和 PERMA 幸福模型无缝融入英语教学。\n\n# Task\n根据输入的课程参数，生成课程概览信息，包括标题、情境、教学目标等。\n\n# Core Framework\n1. 核心理念：以\"幸福力\"为终极目标，通过\"英语+体验路径\"实现儿童三维成长。\n2. 4E 学习闭环：Engage (吸引) → Empower (赋能) → Execute (执行) → Elevate (升华)\n3. 叙事要求：所有环节必须串联在一个完整的、具有沉浸感的故事叙事中。\n\n# Input\n- 课程名称：{{ $json.course_title }}（如果为空，请根据主题自主生成吸引人的中英文标题）\n- 学生年龄：{{ $json.age }}\n- 课程时长：{{ $json.duration }}\n- 班级规模：{{ $json.scale }}\n- 核心词汇：{{ $json.vocabulary }}\n- 核心句型：{{ $json.grammar }}\n- 侧重能力：{{ $json.skills_text }}（如果为空，请根据学生年龄、主题和核心词汇自主选择最合适的1-2个能力侧重）\n- 体验路径：{{ $json.paths_text }}（如果为空，请根据学生年龄和主题自主选择最合适的1-2个体验路径）\n- 初始主题：{{ $json.theme }}（如果为空，请根据学生年龄、核心词汇和体验路径自主设计一个富有想象力的情境主题）\n- 任务名称：{{ $json.task_name }}（如果为空，请根据主题和情境自主设计一个富有挑战性的任务名称）\n- 故事情境：{{ $json.story_context }}（如果已有内容，请在此基础上润色扩展；如果为空则自主生成富有画面感的情境）\n- 终极产出/作品：{{ $json.key_outcome }}（如果已有内容，请据此设计 finalTask；如果为空则自主设计具体的可视化产出任务）\n- 氛围偏好：{{ $json.atmosphere }}（如果为\"AI 自动匹配\"或空，请根据主题自动选择最合适的氛围，如神秘探险感、戏剧表演感、温馨治愈感、团队协作感）\n- 附件信息：{{ $json.attachments }}（如果有附件，请在设计时参考附件内容）\n- 特殊要求：{{ $json.requirements }}\n\n# 已有课程概览（如果以下内容不为空，请基于此概览进行调整优化，而非从头生成）\n{{ $json.existing_overview }}\n\n# 调整要求（如果以下内容不为空，请按照用户的具体要求对概览进行调整）\n{{ $json.adjustments }}\n\n# Style Requirements\n- 标题：吸引人、富有想象力，中英文结合，与主题和核心词汇呼应\n- 情境描述：生动、有画面感，200-300字\n- 生图提示词：扁平矢量插画，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩、和谐的柔和色调、连贯的配色方案，简化但风格化的背景，清晰的环境线稿，非写实扁平插画，干净亲和的美学，沉浸式叙事扁平背景，画面无人物无文字\n\n# Class Journey Requirements\n必须生成课堂旅程，并写入 courseOverview.journey。\n\njourney 必须包含 engage、empower、execute、elevate 四个字段：\n- engage：情境启动。必须结合本课程故事情境、任务线索或角色目标，不能写通用“接到任务”。\n- empower：语言赋能。必须结合本课程核心词汇、句型、语法或能力侧重。\n- execute：创作运用。必须结合 finalTask，描述学生如何完成具体产出。\n- elevate：升华迁移。必须体现展示、反思、SEL/PERMA成长目标或生活迁移。\n\n每一项 35-70 个中文字符。\n四项内容必须明显不同，不能使用固定模板句。\n必须体现本课程的主题、场景、语言工具或作品成果。\n\n# Output Constraint\n- 必须且仅输出有效的 JSON 格式数据\n- 严禁包含任何 Markdown 代码块标签或首尾解释性文字\n- 严禁将结果嵌套在其他键之中\n- 严禁在 JSON 中使用中文全角引号\n\n### 请严格按照以下格式输出：\n{\n  \"courseOverview\": {\n    \"courseTitle\": \"[AI自主生成吸引人的中英文标题，结合主题、核心词汇和故事情境]\",\n    \"theme\": \"[2-4个字的情境主题关键词，如：森林探险、海底奇遇、太空漫游，用于标签展示]\",\n    \"corePhilosophy\": \"PERMA + SEL + 体验驱动\",\n    \"overallContext\": \"[详细的故事背景描述，200-300字，包含故事起因、发展和结局的伏笔，富有想象力和沉浸感]\",\n    \"languageGoals\": {\n      \"vocabulary\": \"[基于输入的核心词汇，整理并补充的词汇学习目标]\",\n      \"grammar\": \"[基于输入的核心句型，整理并补充的语法学习目标]\"\n    },\n    \"selGoals\": \"[具体的SEL能力目标]\",\n    \"permaGoals\": \"[对应的幸福力目标]\",\n    \"finalTask\": \"[具体的可视化产出任务]\",\n    \"journey\": {\n      \"engage\": \"[结合故事情境和任务线索生成的情境启动环节，35-70个中文字符]\",\n      \"empower\": \"[结合核心词汇、句型和能力侧重生成的语言赋能环节，35-70个中文字符]\",\n      \"execute\": \"[结合finalTask和体验路径生成的创作运用环节，35-70个中文字符]\",\n      \"elevate\": \"[结合展示反思、SEL/PERMA成长或生活迁移生成的升华迁移环节，35-70个中文字符]\"\n    },\n    \"themeImagePrompt\": \"扁平矢量插画，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩、和谐的柔和色调、连贯的配色方案，简化但风格化的背景环境，清晰的环境线稿，非写实扁平插画，干净亲和的美学，沉浸式叙事扁平背景，画面无人物无文字，[加入与课程主题和故事情境相关的具体场景描述]\"\n  }\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3664,
        192
      ],
      "id": "9ab8e5f6-221f-445b-be87-de00e8cdbc1f",
      "name": "概览生成"
    },
    {
      "parameters": {
        "jsCode": "// 1. 获取前置节点的数据，并做兼容处理\nconst raw = $input.item.json;\nlet overview = raw.courseOverview;\n\nif (!overview && raw.text) {\n  try {\n    overview = JSON.parse(raw.text).courseOverview;\n  } catch(e) {}\n}\nif (!overview) {\n  overview = raw; // 兜底逻辑\n}\n\n// 2. 提取大模型生成的生图提示词\nlet generatedPrompt = overview.themeImagePrompt || \"\";\n// 仅保留 cj_vector_style 维持基础画风，加入强力的无人物/文字兜底词\nconst imagePrompt = `cj_vector_style, ${generatedPrompt}`;\n\n// 3. 生成随机种子，确保每次调用的画面都不一样\nconst seed = Math.floor(Math.random() * 1000000000000);\n\n// 4. 构建包含 LoRA 的 ComfyUI 工作流 (匹配 aa.json，用于纯场景生成)\nconst workflow = {\n  \"1\": {\n    \"inputs\": {\n      \"unet_name\": \"z_image_turbo_bf16.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\"\n  },\n  \"2\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\"\n  },\n  \"3\": {\n    \"inputs\": {\n      \"clip_name\": \"qwen_3_4b.safetensors\",\n      \"type\": \"lumina2\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\"\n  },\n  \"4\": {\n    \"inputs\": {\n      \"shift\": 3,\n      \"model\": [ \"1\", 0 ]\n    },\n    \"class_type\": \"ModelSamplingAuraFlow\"\n  },\n  \"5\": {\n    \"inputs\": {\n      \"width\": 1968,\n      \"height\": 1152,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\"\n  },\n  \"7\": {\n    \"inputs\": {\n      // 在原版负面提示词基础上，加入了屏蔽人物和文字的指令\n      \"text\": \"people, humans, characters, animals, text, fonts, letters, watermark, blurry, 3d, realistic, complex textures, bad anatomy, deformed, shadows, gradients\",\n      \"clip\": [ \"3\", 0 ]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"101\": {\n    \"inputs\": {\n      \"lora_name\": \"poppy.safetensors\",\n      \"strength_model\": 0.8,\n      \"strength_clip\": 1,\n      \"model\": [ \"4\", 0 ],\n      \"clip\": [ \"3\", 0 ]\n    },\n    \"class_type\": \"LoraLoader\"\n  },\n  \"102\": {\n    \"inputs\": {\n      \"text\": imagePrompt, // <--- 注入处理后的纯净场景提示词\n      \"clip\": [ \"101\", 1 ]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"103\": {\n    \"inputs\": {\n      \"seed\": seed,\n      \"steps\": 20,\n      \"cfg\": 1.5,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [ \"101\", 0 ],\n      \"positive\": [ \"102\", 0 ],\n      \"negative\": [ \"7\", 0 ],\n      \"latent_image\": [ \"5\", 0 ]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"104\": {\n    \"inputs\": {\n      \"samples\": [ \"103\", 0 ],\n      \"vae\": [ \"2\", 0 ]\n    },\n    \"class_type\": \"VAEDecode\"\n  },\n  \"105\": {\n    \"inputs\": {\n      \"filename_prefix\": \"Universal_Scene\",\n      \"images\": [ \"104\", 0 ]\n    },\n    \"class_type\": \"SaveImage\"\n  }\n};\n\n// 5. 返回组装好的对象，将大模型生成的概览数据一起透传下去\nreturn {\n  courseOverview: overview, \n  comfyuiPayload: { \n    prompt: workflow \n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        192
      ],
      "id": "0d132115-3996-452a-98d4-a709e76f31fe",
      "name": "构建图片工作流"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.comfyuiPayload)}}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        192
      ],
      "id": "a0f3013c-f830-456f-8fab-f655e04bb184",
      "name": "提交ComfyUI任务"
    },
    {
      "parameters": {
        "jsCode": "const promptId = $input.item.json.prompt_id;\n\n// 去拿\"概览生成\"或者\"构建图片工作流\"里透传下来的纯净 JSON\nconst cleanCourseOverview = $('构建图片工作流').first().json.courseOverview;\n\nconst comfyUrl = \"https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com\";\nconst maxAttempts = 600;\n\nfor (let i = 0; i < maxAttempts; i++) {\n  // 每 3 秒查一次\n  await new Promise(r => setTimeout(r, 3000));\n  \n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${comfyUrl}/history/${promptId}`,\n      json: true\n    });\n    \n    const taskData = Object.values(res)[0];\n    \n    if (taskData && taskData.outputs) {\n      let images = [];\n      // 动态遍历所有 output 节点，寻找里面包含 images 数组的节点（无视节点ID变动）\n      for (const nodeId in taskData.outputs) {\n        if (taskData.outputs[nodeId].images && taskData.outputs[nodeId].images.length > 0) {\n          images = taskData.outputs[nodeId].images;\n          break;\n        }\n      }\n\n      if (images.length > 0) {\n        const img = images[0];\n        const imageUrl = `${comfyUrl}/view?filename=${img.filename}&subfolder=${img.subfolder || ''}&type=${img.type || 'output'}`;\n        \n        return {\n          courseOverview: cleanCourseOverview,\n          themeImageUrl: imageUrl\n        };\n      }\n    }\n    \n    if (taskData?.status?.status_str === 'error') {\n      return {\n        courseOverview: cleanCourseOverview,\n        themeImageUrl: null,\n        error: '图片生成失败(ComfyUI内部报错)'\n      };\n    }\n  } catch (e) {\n    console.log(\"轮询报错，继续重试:\", e.message);\n  }\n}\n\nreturn {\n  courseOverview: cleanCourseOverview,\n  themeImageUrl: null,\n  error: '图片生成超时'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        192
      ],
      "id": "6b4de76d-7752-4f0d-b18a-657bec143f42",
      "name": "等待图片完成"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {}
      },
      "id": "39c1a35c-6a9d-4ef1-8504-6c3dcbbd8a69",
      "name": "返回完整结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4496,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "参数组装",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "参数组装": {
      "main": [
        [
          {
            "node": "概览生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "概览生成",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "概览生成": {
      "main": [
        [
          {
            "node": "构建图片工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建图片工作流": {
      "main": [
        [
          {
            "node": "提交ComfyUI任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交ComfyUI任务": {
      "main": [
        [
          {
            "node": "等待图片完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待图片完成": {
      "main": [
        [
          {
            "node": "返回完整结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c4db13a4-a415-4bed-aa5b-0881e3429bb0",
  "meta": {
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "id": "YqdU9s7KibknkR1F",
  "tags": []
}