n8n/概览/重新生成课程概览图.json
{
  "name": "重新生成课程概览图",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "course-theme-image-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "05edb5a8-fdc5-46f1-9204-606b59726e06",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        656,
        -192
      ],
      "webhookId": "course-theme-image-gen-01"
    },
    {
      "parameters": {
        "jsCode": "// 1. 获取 Webhook 传来的参数\nconst input = $input.item.json.body || $input.item.json || {};\nconst language = input.language || 'zh';\nconst outputLanguage = input.outputLanguage || (language === 'en' ? 'English' : 'Chinese');\n\nfunction sanitizeThemeImagePrompt(value) {\n  return String(value || '')\n    .replace(/Do not include[^.\\n]*(speech bubbles|dialogue balloons|thought bubbles|comic bubbles|text boxes|blank white panels|whiteboards|posters|visual container)[^.\\n]*\\.?/gi, '')\n    .replace(/Absolutely no visible text[^.\\n]*\\.?/gi, '')\n    .replace(/No text,\\s*no speech bubbles,\\s*no posters,\\s*no writing of any kind\\.?/gi, 'Textless visual illustration.')\n    .replace(/no written whiteboard,\\s*no poster text,\\s*no speech bubbles\\.?/gi, '')\n    .replace(/speech bubbles|dialogue balloons|thought bubbles|comic bubbles|callout bubbles|text boxes|empty caption boxes|blank white panels|white rounded rectangles|empty rounded rectangles|blank whiteboards|blank posters|blank signs|whiteboards|posters|display boards|presentation boards|UI panels|comic panels|frames reserved for text|visual containers? designed to hold text/gi, '')\n    .replace(/cj_vector_style,?\\s*textless full-bleed course-cover illustration,?\\s*one continuous immersive scene across the whole canvas,?\\s*theme-specific environment and props from the prompt only,?/gi, '')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nconst fallbackPrompt = outputLanguage === 'English'\n  ? 'A textless flat vector course-cover illustration based on the provided course theme, using only theme-specific scenery, props, icons, and atmosphere.'\n  : '根据课程主题生成无文字扁平矢量封面插画，只使用与主题直接相关的场景、道具、图标和氛围。';\n\nconst rawPrompt = sanitizeThemeImagePrompt(input.themeImagePrompt || fallbackPrompt);\n\nconst stylePositive = [\n  'cj_vector_style',\n  'textless full-bleed course-cover illustration',\n  'one continuous immersive scene across the whole canvas',\n  'theme-specific environment and props from the prompt only',\n  'flat vector illustration, even black outline, single-line style, 2D flat design',\n  'low-saturation solid colors, soft harmonious palette, clean friendly environmental line art',\n  'rich background details fill the canvas, balanced composition, fully illustrated edges',\n  'character-free scenery, prop-focused environment, empty of living figures'\n].join(', ');\n\nconst imagePrompt = [stylePositive, rawPrompt].filter(Boolean).join(', ');\n\n// Keep these only in the negative prompt. Repeating object names in the positive prompt makes the model draw them.\nconst negativePrompt = [\n  'readable writing, typography, letters, words, numbers, Chinese characters, English words',\n  'captions, labels, title, logo, watermark, poster-like writing, classroom writing',\n  'comic layout, worksheet layout, presentation layout, interface layout, template layout',\n  'large blank geometric areas, empty placeholder areas, separated layout regions',\n  'people, humans, characters, animals, blurry, 3d, realistic, complex textures, bad anatomy, deformed, shadows, gradients'\n].join(', ');\n\n// 2. 生成随机种子\nconst seed = Math.floor(Math.random() * 1000000000000);\n\n// 3. 构建 ComfyUI 工作流。保留低强度场景 LoRA 统一画风，但让课程主题主导画面内容。\nconst workflow = {\n  \"1\": {\n    \"inputs\": {\n      \"unet_name\": \"z_image_turbo_bf16.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\"\n  },\n  \"2\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\"\n  },\n  \"3\": {\n    \"inputs\": {\n      \"clip_name\": \"qwen_3_4b.safetensors\",\n      \"type\": \"lumina2\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\"\n  },\n  \"4\": {\n    \"inputs\": {\n      \"shift\": 3,\n      \"model\": [ \"1\", 0 ]\n    },\n    \"class_type\": \"ModelSamplingAuraFlow\"\n  },\n  \"5\": {\n    \"inputs\": {\n      \"width\": 1968,\n      \"height\": 1152,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\"\n  },\n  \"7\": {\n    \"inputs\": {\n      \"text\": negativePrompt,\n      \"clip\": [ \"101\", 1 ]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"101\": {\n    \"inputs\": {\n      \"lora_name\": \"poppy.safetensors\",\n      \"strength_model\": 0.35,\n      \"strength_clip\": 0.45,\n      \"model\": [ \"4\", 0 ],\n      \"clip\": [ \"3\", 0 ]\n    },\n    \"class_type\": \"LoraLoader\"\n  },\n  \"102\": {\n    \"inputs\": {\n      \"text\": imagePrompt,\n      \"clip\": [ \"101\", 1 ]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"103\": {\n    \"inputs\": {\n      \"seed\": seed,\n      \"steps\": 20,\n      \"cfg\": 1.5,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [ \"101\", 0 ],\n      \"positive\": [ \"102\", 0 ],\n      \"negative\": [ \"7\", 0 ],\n      \"latent_image\": [ \"5\", 0 ]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"104\": {\n    \"inputs\": {\n      \"samples\": [ \"103\", 0 ],\n      \"vae\": [ \"2\", 0 ]\n    },\n    \"class_type\": \"VAEDecode\"\n  },\n  \"105\": {\n    \"inputs\": {\n      \"filename_prefix\": \"Course_Theme\",\n      \"images\": [ \"104\", 0 ]\n    },\n    \"class_type\": \"SaveImage\"\n  }\n};\n\nreturn {\n  comfyuiPayload: {\n    \"prompt\": workflow\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -192
      ],
      "id": "04dc9f93-f736-484a-9eb4-74546bb35ba4",
      "name": "构建图片工作流"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.comfyuiPayload}}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -192
      ],
      "id": "7ba40123-a3b3-4554-bdcd-d05f2eb07ece",
      "name": "提交ComfyUI任务"
    },
    {
      "parameters": {
        "jsCode": "const promptId = $input.item.json.prompt_id;\nconst comfyUrl = \"https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com\";\nconst maxAttempts = 600;\n\nfor (let i = 0; i < maxAttempts; i++) {\n  await new Promise(r => setTimeout(r, 3000));\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${comfyUrl}/history/${promptId}`,\n      json: true\n    });\n    \n    const taskData = Object.values(res)[0];\n    \n    if (taskData && taskData.outputs) {\n      let images = [];\n      // 动态遍历所有 output 节点，寻找里面包含 images 数组的节点\n      for (const nodeId in taskData.outputs) {\n        if (taskData.outputs[nodeId].images && taskData.outputs[nodeId].images.length > 0) {\n          images = taskData.outputs[nodeId].images;\n          break; // 找到图片就立刻停止遍历\n        }\n      }\n\n      // 如果找到了图片，就拼接 URL 并返回\n      if (images.length > 0) {\n        const img = images[0];\n        const imageUrl = `${comfyUrl}/view?filename=${img.filename}&subfolder=${img.subfolder || ''}&type=${img.type || 'output'}`;\n        return { themeImageUrl: imageUrl };\n      }\n    }\n    \n    if (taskData?.status?.status_str === 'error') {\n      return { themeImageUrl: null, error: '图片生成失败(ComfyUI内部报错)' };\n    }\n  } catch (e) {\n    console.log(\"轮询报错，继续重试:\", e.message);\n  }\n}\n\nreturn { themeImageUrl: null, error: '图片生成超时' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -192
      ],
      "id": "872ae9e9-d9cb-4288-accf-0d7a0cadca24",
      "name": "等待图片完成"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {}
      },
      "id": "95efb3a6-e21e-46ee-a9c2-e37d4cb75870",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1536,
        -192
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "117.50.218.161:5678",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-n8n-api-key": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4NWQyZTAzYS02MDIwLTRiMTMtOTQxYy01ZDQzNWY5MDEyODIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNWRhYjRlZjAtMDA0Mi00ZjlkLWE0Y2YtZDRlYjllMWI0ZmZjIiwiaWF0IjoxNzc1Njk2NjY0fQ.zB0gcR4_AdzSiyYcWbIGKQH1tTGoVdzaBepuwFTzZCE",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "gzip, deflate",
            "content-length": "617"
          },
          "params": {},
          "query": {},
          "body": {
            "themeImagePrompt": "扁平矢量插画，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩、和谐的柔和色调、连贯的配色方案。宇宙探索场景：深蓝星空、发光星球、月面小路、漂浮的星星徽章、火箭形状的任务道具和柔和星云，整体充满探索感，画面无人物无文字。"
          },
          "webhookUrl": "http://117.50.218.161:5678/webhook/course-theme-image-generator",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "构建图片工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建图片工作流": {
      "main": [
        [
          {
            "node": "提交ComfyUI任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交ComfyUI任务": {
      "main": [
        [
          {
            "node": "等待图片完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待图片完成": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6199b564-4cdf-4177-93f7-bfd6bbf6ca2f",
  "meta": {
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "id": "LvH22pvHG5oZdSDs",
  "tags": []
}
