n8n/视频/🐓单人Lora-生成分镜图片.json
{
  "name": "🐓单人Lora-生成分镜图片",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompts",
              "type": "array"
            },
            {
              "name": "role"
            },
            {
              "name": "width",
              "type": "number"
            },
            {
              "name": "height",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        400
      ],
      "id": "d96850c7-e7aa-446d-907b-1a6b5edbbd22",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        416
      ],
      "id": "fb668664-c572-434a-84d4-ab95a14a5a38",
      "name": "Wait",
      "webhookId": "6f074b41-3d01-4703-bd18-c3531ab30e1e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95b5670e-5019-45a7-b701-08a608311038",
              "leftValue": "={{ $json.values()[0].status.status_str }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        416
      ],
      "id": "2e5bdf04-6866-439e-9cfa-1ba47f6d3abe",
      "name": "If",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "prompts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        400
      ],
      "id": "d536a07b-0e32-4d30-aefd-caa84a294c6d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02866e68-1a03-4696-8c44-bdc9af560966",
              "name": "images",
              "value": "={{ $json.values()[0].outputs['105'].images }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        400
      ],
      "id": "1d6a051b-ebb1-4e04-b6e7-0986fef8950a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        400
      ],
      "id": "91987f00-02b9-4f4a-9b93-b42f9a1e5c9d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "fileName",
              "renameField": true,
              "outputFieldName": "images_filepath"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        960,
        240
      ],
      "id": "e8eb706f-8201-4de8-814e-5477889b5d1d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e58dd683-28f3-406b-84b6-3447331c8bb3",
              "name": "fileName",
              "value": "=http://117.50.218.161:5678/webhook/files?file={{ $json.images[0].filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        400
      ],
      "id": "3b50e0e5-1b57-4919-a238-ee242977c2d4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/prompt",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\":{\n  \"1\": {\n    \"inputs\": {\n      \"unet_name\": \"z_image_turbo_bf16.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\",\n    \"_meta\": {\n      \"title\": \"UNet加载器\"\n    }\n  },\n  \"2\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\",\n    \"_meta\": {\n      \"title\": \"加载VAE\"\n    }\n  },\n  \"3\": {\n    \"inputs\": {\n      \"clip_name\": \"qwen_3_4b.safetensors\",\n      \"type\": \"lumina2\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\",\n    \"_meta\": {\n      \"title\": \"加载CLIP\"\n    }\n  },\n  \"4\": {\n    \"inputs\": {\n      \"shift\": 3,\n      \"model\": [\n        \"1\",\n        0\n      ]\n    },\n    \"class_type\": \"ModelSamplingAuraFlow\",\n    \"_meta\": {\n      \"title\": \"采样算法（AuraFlow）\"\n    }\n  },\n  \"5\": {\n    \"inputs\": {\n      \"width\": {{ $('初始配置').item.json.width }},\n      \"height\": {{ $('初始配置').item.json.height }},\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\",\n    \"_meta\": {\n      \"title\": \"空Latent图像（SD3）\"\n    }\n  },\n  \"7\": {\n    \"inputs\": {\n      \"text\": \"blurry, 3d, realistic, complex textures, bad anatomy, deformed, shadows, gradients\",\n      \"clip\": [\n        \"3\",\n        0\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"全局负面提示词 (Global Negative)\"\n    }\n  },\n  \"101\": {\n    \"inputs\": {\n      \"lora_name\": \"{{ $('初始配置').item.json.role }}.safetensors\",\n      \"strength_model\": 0.8,\n      \"strength_clip\": 1,\n      \"model\": [\n        \"4\",\n        0\n      ],\n      \"clip\": [\n        \"3\",\n        0\n      ]\n    },\n    \"class_type\": \"LoraLoader\",\n    \"_meta\": {\n      \"title\": \"1. LoRA - Poppy\"\n    }\n  },\n  \"102\": {\n    \"inputs\": {\n      \"text\": \"cj_vector_style, {{ $('初始配置').item.json.role }}_character, {{ $json.prompts }}, 扁平矢量插画，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩、和谐的柔和色调、连贯的配色方案，简化但风格化的背景环境，清晰的环境线稿，非写实扁平插画，角色的符号化表情，干净亲和的美学，沉浸式叙事扁平背景\",\n      \"clip\": [\n        \"101\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"1. 动作 - Poppy (粉色)\"\n    }\n  },\n  \"103\": {\n    \"inputs\": {\n      \"seed\": {{ (Math.floor(Math.random()*9e14)+1e14).toString() }},\n      \"steps\": 20,\n      \"cfg\": 1.5,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [\n        \"101\",\n        0\n      ],\n      \"positive\": [\n        \"102\",\n        0\n      ],\n      \"negative\": [\n        \"7\",\n        0\n      ],\n      \"latent_image\": [\n        \"5\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"1. 生成 Poppy\"\n    }\n  },\n  \"104\": {\n    \"inputs\": {\n      \"samples\": [\n        \"103\",\n        0\n      ],\n      \"vae\": [\n        \"2\",\n        0\n      ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": {\n      \"title\": \"VAE解码\"\n    }\n  },\n  \"105\": {\n    \"inputs\": {\n      \"filename_prefix\": \"Asset_Poppy\",\n      \"images\": [\n        \"104\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": {\n      \"title\": \"保存 Poppy 资产\"\n    }\n  }\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        416
      ],
      "id": "089fe9e1-2390-4b4c-94bc-c00e3895fe48",
      "name": "产生分镜图片请求",
      "credentials": {
        "httpBearerAuth": {
          "id": "i7nqkSZdWgnZJnz5",
          "name": "Bearer vincentzou"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/history/{{ $('产生分镜图片请求').item.json.prompt_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        416
      ],
      "id": "c3dbef60-254f-449b-a576-5fbaa159d202",
      "name": "检查是否完成",
      "credentials": {
        "httpBearerAuth": {
          "id": "i7nqkSZdWgnZJnz5",
          "name": "Bearer vincentzou"
        }
      }
    },
    {
      "parameters": {
        "url": "https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/view",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $json.images[0].filename }}"
            },
            {
              "name": "type",
              "value": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2048,
        400
      ],
      "id": "37f03749-7f80-49ff-8092-e4840e746937",
      "name": "获取素材",
      "credentials": {
        "httpBearerAuth": {
          "id": "i7nqkSZdWgnZJnz5",
          "name": "Bearer vincentzou"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/files/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2224,
        400
      ],
      "id": "42880383-ad04-4686-99cd-f6ac382faeb0",
      "name": "写入本地"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "regene-image",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -16
      ],
      "id": "32193b7a-19c8-4904-84fd-4db64044c124",
      "name": "Webhook",
      "webhookId": "9fb129b7-a172-44c1-ab2b-8c558661829a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"executionId\": \"{{ $execution.id }}\",\n  \"status\": \"success\",\n  \"message\": \"Workflow executed successfully\"\n}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        192,
        -224
      ],
      "id": "349c760f-9beb-4f3f-89c5-a2136aed714d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee167488-7e24-4412-bf58-a0b9581c9c6e",
              "name": "prompts",
              "value": "={{ $json.prompts }}",
              "type": "array"
            },
            {
              "id": "35a93395-b828-4cb3-a165-b688f3e59e09",
              "name": "width",
              "value": "={{ $json.width }}",
              "type": "number"
            },
            {
              "id": "a5443dc7-e335-475a-a8f7-0894f7531397",
              "name": "height",
              "value": "={{ $json.height }}",
              "type": "string"
            },
            {
              "id": "b165b2bd-76da-4c56-8464-fb82122da0af",
              "name": "role",
              "value": "={{ $json.role }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        400
      ],
      "id": "0f9ee426-c6cc-4222-ac87-0707ce0e0d4d",
      "name": "初始配置"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/prompt",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\":{\n  \"1\": {\n    \"inputs\": {\n      \"unet_name\": \"z_image_turbo_bf16.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\",\n    \"_meta\": {\n      \"title\": \"UNet加载器\"\n    }\n  },\n  \"2\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\",\n    \"_meta\": {\n      \"title\": \"加载VAE\"\n    }\n  },\n  \"3\": {\n    \"inputs\": {\n      \"clip_name\": \"qwen_3_4b.safetensors\",\n      \"type\": \"lumina2\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\",\n    \"_meta\": {\n      \"title\": \"加载CLIP\"\n    }\n  },\n  \"4\": {\n    \"inputs\": {\n      \"shift\": 3,\n      \"model\": [\n        \"1\",\n        0\n      ]\n    },\n    \"class_type\": \"ModelSamplingAuraFlow\",\n    \"_meta\": {\n      \"title\": \"采样算法（AuraFlow）\"\n    }\n  },\n  \"5\": {\n    \"inputs\": {\n      \"width\": {{ $('初始配置1').item.json.width }},\n      \"height\": {{ $('初始配置1').item.json.height }},\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\",\n    \"_meta\": {\n      \"title\": \"空Latent图像（SD3）\"\n    }\n  },\n  \"7\": {\n    \"inputs\": {\n      \"text\": \"blurry, 3d, realistic, complex textures, bad anatomy, deformed, shadows, gradients\",\n      \"clip\": [\n        \"3\",\n        0\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"全局负面提示词 (Global Negative)\"\n    }\n  },\n  \"101\": {\n    \"inputs\": {\n      \"lora_name\": \"{{ $('初始配置1').item.json.role }}.safetensors\",\n      \"strength_model\": 0.8,\n      \"strength_clip\": 1,\n      \"model\": [\n        \"4\",\n        0\n      ],\n      \"clip\": [\n        \"3\",\n        0\n      ]\n    },\n    \"class_type\": \"LoraLoader\",\n    \"_meta\": {\n      \"title\": \"1. LoRA - Poppy\"\n    }\n  },\n  \"102\": {\n    \"inputs\": {\n      \"text\": \"cj_vector_style, {{ $('初始配置1').item.json.role }}_character, {{ $json.prompt }}, 扁平矢量插画，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩、和谐的柔和色调、连贯的配色方案，简化但风格化的背景环境，清晰的环境线稿，非写实扁平插画，角色的符号化表情，干净亲和的美学，沉浸式叙事扁平背景\",\n      \"clip\": [\n        \"101\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"1. 动作 - Poppy (粉色)\"\n    }\n  },\n  \"103\": {\n    \"inputs\": {\n      \"seed\": {{ (Math.floor(Math.random()*9e14)+1e14).toString() }},\n      \"steps\": 20,\n      \"cfg\": 1.5,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [\n        \"101\",\n        0\n      ],\n      \"positive\": [\n        \"102\",\n        0\n      ],\n      \"negative\": [\n        \"7\",\n        0\n      ],\n      \"latent_image\": [\n        \"5\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"1. 生成 Poppy\"\n    }\n  },\n  \"104\": {\n    \"inputs\": {\n      \"samples\": [\n        \"103\",\n        0\n      ],\n      \"vae\": [\n        \"2\",\n        0\n      ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": {\n      \"title\": \"VAE解码\"\n    }\n  },\n  \"105\": {\n    \"inputs\": {\n      \"filename_prefix\": \"Asset_Poppy\",\n      \"images\": [\n        \"104\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": {\n      \"title\": \"保存 Poppy 资产\"\n    }\n  }\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        -16
      ],
      "id": "648a998b-ecf0-4254-8d7d-71b10ce1b806",
      "name": "产生分镜图片请求1",
      "credentials": {
        "httpBearerAuth": {
          "id": "i7nqkSZdWgnZJnz5",
          "name": "Bearer vincentzou"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bec5b821-bfff-4739-aac8-2c57001936a5",
              "name": "prompt",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            },
            {
              "id": "f8ffdc31-bef6-4bcf-98cc-cf557a287135",
              "name": "width",
              "value": "={{ $json.body.width }}",
              "type": "string"
            },
            {
              "id": "38fefbd3-7adb-40ec-a28e-c288e61a6779",
              "name": "height",
              "value": "={{ $json.body.height }}",
              "type": "string"
            },
            {
              "id": "c2f2a8b9-937c-40e4-af7c-1af68d3ccfaf",
              "name": "role",
              "value": "={{ $json.body.role }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -16
      ],
      "id": "0e670666-08b8-4baa-8936-c11cfc5bd9b1",
      "name": "初始配置1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        -16
      ],
      "id": "457138b7-7daa-4a80-8c03-f39ea8d463c5",
      "name": "Wait1",
      "webhookId": "6f074b41-3d01-4703-bd18-c3531ab30e1e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95b5670e-5019-45a7-b701-08a608311038",
              "leftValue": "={{ $json.values()[0].status.status_str }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        -16
      ],
      "id": "59b06afb-ae53-490e-9d09-9af9081a63cd",
      "name": "If1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02866e68-1a03-4696-8c44-bdc9af560966",
              "name": "images",
              "value": "={{ $json.values()[0].outputs['105'].images }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        -32
      ],
      "id": "2726e5d5-b9cf-4e7e-b6ac-6774e22ac974",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e58dd683-28f3-406b-84b6-3447331c8bb3",
              "name": "fileName",
              "value": "=http://117.50.218.161:5678/webhook/files?file={{ $json.images[0].filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        -32
      ],
      "id": "ed740c77-e270-433f-8fd4-3eb2d1ba18bc",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "url": "=https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/history/{{ $('产生分镜图片请求1').item.json.prompt_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        -16
      ],
      "id": "91f3b964-39bd-42cc-823e-d1d6702f0f96",
      "name": "检查是否完成1",
      "credentials": {
        "httpBearerAuth": {
          "id": "i7nqkSZdWgnZJnz5",
          "name": "Bearer vincentzou"
        }
      }
    },
    {
      "parameters": {
        "url": "https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com/view",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $json.images[0].filename }}"
            },
            {
              "name": "type",
              "value": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        -32
      ],
      "id": "e1e5a958-e7f0-4dc4-b2de-1ceb51116eb7",
      "name": "获取素材1",
      "credentials": {
        "httpBearerAuth": {
          "id": "i7nqkSZdWgnZJnz5",
          "name": "Bearer vincentzou"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/files/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1776,
        -32
      ],
      "id": "dcf40945-0fc5-412c-9985-145d1219b4ad",
      "name": "写入本地1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "J3YaofTO0eHhgjAp",
          "mode": "list",
          "cachedResultName": "tworkflow",
          "cachedResultUrl": "/projects/A1HdxbOAbMRJMiPU/datatables/J3YaofTO0eHhgjAp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $execution.id }}",
            "status": "sucess",
            "response": "={{ $json.fileName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2160,
        -32
      ],
      "id": "a9178b0a-9194-403e-8d98-0f2f28b3d69e",
      "name": "Insert row"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "prompts": [
            "晨光中的湖面，薄雾如轻纱般漂浮在水面，远处青山若隐若现，湖水倒映着朝霞的金红色彩。Rolly独自坐在湖心的小船上，双手握桨，桨叶有节奏地划破水面，荡开一圈圈涟漪，船身随波浪轻微起伏晃动。",
            "光线逐渐转为黄昏色调，天空呈现橙紫渐变，湖面波光粼粼。Rolly划船动作放缓，桨叶划过水面的力度减弱，身体微微前倾，抬头望向远方，眼神中流露出若有所思的孤独感。",
            "夜幕降临，月光洒在湖面形成银色光带，四周寂静无声。Rolly停止划船，双手抱桨静止不动，船身随水波缓缓旋转，身体前倾俯向水面，仿佛在凝视水中自己的倒影。"
          ],
          "role": "rolly",
          "width": 928,
          "height": 1656
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "117.50.218.161:5678",
            "user-agent": "Apifox/1.0.0 (https://apifox.com)",
            "content-length": "672",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundary1lYgEyUbP9tI8SkZ",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "prompt": "edi在阳光下奔跑。阳光明媚的花园里，鲜花盛开，蝴蝶飞舞，远处有喷泉。快速奔跑，双臂摆动。广角镜头，自然光，暖色调，低角度拍摄，构图采用三分法。动态模糊效果，营造轻盈感。",
            "width": "1096",
            "role": "edi",
            "height": "867"
          },
          "webhookUrl": "http://117.50.218.161:5678/webhook/regene-image",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "初始配置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "检查是否完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "获取素材",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "产生分镜图片请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "产生分镜图片请求": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查是否完成": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取素材": {
      "main": [
        [
          {
            "node": "写入本地",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入本地": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "初始配置1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "初始配置": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "初始配置1": {
      "main": [
        [
          {
            "node": "产生分镜图片请求1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "检查是否完成1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "获取素材1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查是否完成1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取素材1": {
      "main": [
        [
          {
            "node": "写入本地1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入本地1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "产生分镜图片请求1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9d5dce63-af5a-4923-accd-3327967ef6b5",
  "meta": {
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "id": "1rBY3rKFlO4kzMN4",
  "tags": []
}