n8n/视频/🐳图生视频单人主工作流-提交分镜图片请求.json
{
  "name": "🐳图生视频单人主工作流-提交分镜图片请求",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb2c42c-00c2-4ebf-b64a-e7aaf531c89c",
              "name": "storyboard_prompts",
              "value": "={{ $('生成视频分镜脚本').first().json.output.storyboard_prompts.map(item => item.prompt) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        320
      ],
      "id": "4bc7c4a8-cc55-4e90-9bf9-d253e8e990d4",
      "name": "角色和分镜脚本字段整理"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个专业的视频分镜分析专家，你的任务是将\"视频分镜描述\"转换为\"首帧图片描述\"。这些图片将用作图生视频的起始帧，因此必须准确反映视频即将开始时的场景状态。\n\n## 核心转换原则\n\n### 1. 动作状态分析与转换\n\n你需要通过**语义分析**推断视频的起始状态：\n\n**位移类动词**（表示从A到B的移动）：\n- \"走到\"、\"跑向\"、\"移动到\"、\"转身走向\" → 说明起始时**不在**目标位置\n- 转换规则：改为\"准备+动作\"，删除目标位置的\"到达状态\"\n- 示例：\n  - \"走到窗边\" → \"准备走向窗边\"\n  - \"跑向门口\" → \"准备跑向门口\"\n  - \"转身离开\" → \"准备转身\"\n\n**状态类动词**（表示已经处于某个位置/状态）：\n- \"站在\"、\"坐在\"、\"躺在\"、\"靠在\" → 说明起始时**已经在**该状态\n- 转换规则：保留状态描述，删除后续动作\n- 示例：\n  - \"站在窗边，推开窗户\" → \"站在窗边\"\n  - \"坐在桌前，拿起笔\" → \"坐在桌前\"\n\n**多个连续动作的处理**：\n- 只保留**第一个动作的起始状态**，删除所有后续动作\n- 示例：\n  - \"走到衣架边，脱下外衣，挂在衣架上\" → \"准备走向衣架\"\n  - \"站在衣架边，脱下外衣，挂在衣架上\" → \"站在衣架边\"\n\n### 2. 修饰词处理规则\n\n**必须删除的修饰词**（描述运动过程的词汇）：\n- 速度修饰：慢慢、快速、迅速、缓缓、轻快地\n- 过程修饰：逐渐、一边...一边...、持续、反复\n- 节奏修饰：有节奏地、流畅地\n\n**必须保留的修饰词**（描述静态状态的词汇）：\n- 表情状态：微笑、专注、温柔、严肃\n- 姿态描述：抬头、低头、侧身、挺直\n- 情绪氛围：愉悦、放松、紧张\n\n**示例**：\n- \"慢慢转身\" → \"准备转身\"\n- \"一边走一边抬头欣赏夜景\" → \"准备行走，保持抬头欣赏夜景的姿态\"\n- \"熟练而有节奏地切菜\" → \"准备切菜\"\n\n### 3. 运镜与镜头参数处理\n\n**删除纯运镜描述**（描述摄像机运动的词汇）：\n- \"手持跟随镜头\"\n- \"缓慢环绕拍摄\"\n- \"镜头跟随\"\n- \"摇镜头\"\n- \"推拉镜头的运动过程\"\n\n**转换涉及构图的运镜**（将运动转换为静态构图）：\n- \"镜头从远处推进\" → \"远景\"\n- \"镜头从上方俯冲\" → \"俯拍角度\"\n- \"镜头逐渐拉近\" → 删除（或根据语境选择\"近景/中景/远景\"）\n\n**完全保留固定镜头参数**：\n- 焦距：50mm标准镜头、85mm镜头\n- 角度：平视角度、俯拍角度、仰拍角度\n- 景别：中景、近景、特写、全景\n- 其他：景深效果、构图方式\n\n### 4. 完全保留的元素\n\n以下元素必须**原样保留**，以确保图片与视频的一致性：\n\n- **场景描述**：环境、建筑、物品、天气、时间\n- **光影描述**：光源、光线质感、阴影、色温\n- **氛围营造**：情绪、质感、细节刻画\n- **美学控制**：色调、饱和度、对比度、曝光\n- **风格化**：艺术风格、绘画技法、渲染方式\n- **动画IP人物静态特征**：表情、姿态（非动作过程），去掉着装描述\n\n### 5. 特殊情况处理\n\n**静态场景**：\n- 如果视频分镜本身没有明显动作（如\"角色站立凝视远方\"）\n- 图片描述基本保持不变，只需删除可能存在的运镜描述\n\n**伴随状态 + 主要动作**：\n- 主要动作：按照规则转换为准备状态\n- 伴随状态：保留姿态描述\n- 示例：\"走在街道上，双手插在口袋里，抬头欣赏夜景\"\n  → \"准备行走，双手插在口袋里，保持抬头欣赏夜景的姿态\"\n\n## 转换示例\n\n### 示例 1：位移动作\n\n**输入视频分镜**：\n\"角色面带轻松愉悦的微笑，眼神温柔，透露出下班后的放松感。夜晚繁华的城市街道，街道两旁是林立的高楼，巨大的广告牌和霓虹灯投下绚烂的光影，地面因刚下过小雨而湿润，倒映着五彩斑斓的灯光。行人与车辆穿梭不息。她身体随着轻快的步伐微微摇晃，一边走一边抬头欣赏着城市的夜景。混合着霓虹灯和街灯的人工光源，形成丰富的光斑和镜头光晕，中景，平视角度，50mm标准镜头，手持跟随镜头，暖色调，高饱和度。新海诚细腻笔触风格，强调光影的透明感和都市的璀璨细节。\"\n\n**输出**：\n```json\n{\n  \"storyboard_image_prompts\": [\n    {\n      \"prompt\": \"角色面带轻松愉悦的微笑，眼神温柔，透露出下班后的放松感。夜晚繁华的城市街道，街道两旁是林立的高楼，巨大的广告牌和霓虹灯投下绚烂的光影，地面因刚下过小雨而湿润，倒映着五彩斑斓的灯光。行人与车辆穿梭不息。她保持抬头欣赏夜景的姿态。混合着霓虹灯和街灯的人工光源，形成丰富的光斑和镜头光晕，中景，平视角度，50mm标准镜头，暖色调，高饱和度。新海诚细腻笔触风格，强调光影的透明感和都市的璀璨细节。\",\n      \"thought_process\": \"1. 识别动作：'一边走一边抬头欣赏夜景'包含主要动作'走'和伴随姿态'抬头欣赏'。2. 转换逻辑：删除'身体随着轻快的步伐微微摇晃'和'一边走一边'这些运动过程描述，保留'抬头欣赏夜景'的静态姿态。3. 删除运镜：去除'手持跟随镜头'。4. 保留元素：完整保留人物表情、场景描述、光影效果、镜头参数（中景、平视、50mm）、色调和风格。\"\n    }\n  ]\n}\n```\n\n### 示例 2：状态 + 动作\n\n**输入视频分镜**：\n\"角色表情专注而满足，嘴角微微上扬，眼神中充满了对生活的热爱。温暖明亮的家庭厨房，浅木色的橱柜和料理台干净整洁。墙壁上挂着可爱的厨具，一盏暖黄色的吊灯从上方照亮料理区域。窗外是深蓝色的夜空，窗户玻璃上凝结着薄薄的水汽。她左手稳稳地按住食材，右手握着厨刀，熟练而有节奏地切着菜，手指动作轻巧灵活。顶光照明来自吊灯，光线柔和，中近景，略微俯拍的角度，85mm镜头营造浅景深效果，静止镜头，整体为温馨的暖黄色调。新海诚细腻笔触风格，对食物的质感和温暖的居家氛围进行精致刻画。\"\n\n**输出**：\n```json\n{\n  \"storyboard_image_prompts\": [\n    {\n      \"prompt\": \"角色表情专注而满足，嘴角微微上扬，眼神中充满了对生活的热爱。温暖明亮的家庭厨房，浅木色的橱柜和料理台干净整洁。墙壁上挂着可爱的厨具，一盏暖黄色的吊灯从上方照亮料理区域。窗外是深蓝色的夜空，窗户玻璃上凝结着薄薄的水汽。她左手稳稳地按住食材，右手握着厨刀，准备切菜。顶光照明来自吊灯，光线柔和，中近景，略微俯拍的角度，85mm镜头营造浅景深效果，整体为温馨的暖黄色调。新海诚细腻笔触风格，对食物的质感和温暖的居家氛围进行精致刻画。\",\n      \"thought_process\": \"1. 识别状态：角色已经处于厨房料理台前的状态（左手按住食材，右手握刀）。2. 识别动作：'熟练而有节奏地切着菜'是正在进行的动作。3. 转换逻辑：将'切着菜'转换为'准备切菜'，删除过程性修饰词'熟练而有节奏地'和'手指动作轻巧灵活'。4. 保留元素：完整保留人物表情、手部姿态（按住食材、握刀）、场景描述、光影、镜头参数、色调和风格。5. 运镜处理：原描述中'静止镜头'已是静态，保留其他镜头参数即可。\"\n    }\n  ]\n}\n```\n\n## 开始任务\n\n现在请按照以上规则，将我提供的视频分镜描述转换为首帧图片描述。记住：\n1. 仔细分析每个动词的语义，判断起始状态\n2. 保留所有场景、光影、美学、风格元素\n3. 删除所有运动过程描述\n4. 在 thought_process 中详细说明你的分析过程\n5. 输出标准 JSON 格式\n\n请输出标准的 JSON 格式：\n\n```json\n{\n  \"storyboard_image_prompts\": [\n    {\n      \"prompt\": \"转换后的首帧图片描述\",\n      \"thought_process\": \"详细说明你的分析思路：识别了哪些动作类型、做了哪些转换、保留了哪些元素、删除了哪些元素\"\n    }\n  ]\n}\n```\n\n以下是我的视频分镜描述：\n{{ $json.data }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1584,
        320
      ],
      "id": "99e05164-222e-4a17-9a6c-6613cd545129",
      "name": "生成每个分镜的图片prompt",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位经验丰富的电影导演和分镜师,精通视觉叙事、镜头语言和情感表达。你的任务是根据我给出的'故事分镜脚本'和'角色设定',为视频生成配音方案。\n\n\n以下是视频分镜脚本：\n{{ JSON.stringify($json.data) }}\n\n【任务指令】\n请严格按照以下步骤和要求,将所有输出整合到一个JSON对象中。\n\n1. **音色方案设计 (characters_timbre)**:\n   * **灵活选择原则**: 根据故事风格和叙事需求，自主决定使用何种音色组合：\n     - 纯旁白叙事：适合文学性强、史诗感的故事（只设计旁白音色）\n     - 纯角色对话：适合第一人称、沉浸式体验的故事（只设计角色音色）\n     - 旁白+角色：适合需要客观叙述和主观表达结合的故事（设计两种音色）\n   \n   * **音色设计要求**:\n     - 为你选择的音色类型设计符合年龄、性别、性格的音色描述\n     - 每个音色设定一个唯一的timbre_id（从0开始递增）\n     - 输出到字段characters_timbre数组中\n\n2. **配音脚本生成 (voice_scripts)** - 【核心约束，必须严格遵守】:\n\n   **一、强制性一对一映射规则**:\n   * 有多少个分镜脚本，就生成多少段配音，**严格一一对应**\n   * 示例：4个分镜 → 4段配音；10个分镜 → 10段配音\n   * **每个分镜内只能有一段配音**，绝对禁止在单个分镜内生成多段配音\n   * 配音顺序必须与分镜顺序一致\n\n   **二、时间窗口严格约束**:\n   * 每个分镜有对应的duration（秒），这是该分镜的播放时长\n   * **时间窗口计算**（以毫秒为单位）:\n     - 分镜1的时间窗口：0 到 duration1×1000 毫秒\n     - 分镜2的时间窗口：duration1×1000 到 (duration1+duration2)×1000 毫秒\n     - 以此类推...\n   \n   * **强制要求**：\n     - 每段配音的start_time和end_time必须完全落在其对应分镜的时间窗口内\n     - 不得跨越分镜边界\n     - 不得与其他配音时间重叠\n     - 配音结束时间与下一段配音开始时间之间建议留出300-800ms的自然停顿\n\n   **三、字数限制铁律**:\n   * **语速上限**: 每秒最多3个字（这是物理极限）\n   * **计算步骤**（按顺序执行）:\n     1. 确定该分镜的时间窗口（起始毫秒到结束毫秒）\n     2. 在该窗口内规划配音的start_time和end_time（预留停顿空间）\n     3. 计算配音持续时长（秒）= (end_time - start_time) ÷ 1000\n     4. 计算字数上限 = 持续时长 × 3\n     5. **实际文本字数必须 ≤ 字数上限**，建议控制在上限的70-85%以保证自然语速\n   \n   * **实例演示**:\n     - 分镜1: duration=5秒，窗口0-5000ms\n       - 规划配音：100ms到4500ms（持续4.4秒）\n       - 字数上限：4.4×3=13.2字\n       - 建议实际：9-11字\n     \n     - 分镜2: duration=3秒，窗口5000-8000ms\n       - 规划配音：5300ms到7800ms（持续2.5秒）\n       - 字数上限：2.5×3=7.5字\n       - 建议实际：5-6字\n\n   **四、内容创作原则**:\n   * 在字数限制内，提炼每个分镜的**核心情感点**或**关键信息**\n   * 优先选择：\n     - 情感化的短句（\"心跳加速\"）\n     - 意象化的旁白（\"夜色如墨\"）\n     - 简短有力的对白（\"我在这里\"）\n   * 追求\"精准传达\"而非\"面面俱到\"\n   * 根据你在步骤1中选择的音色方案，使用相应的timbre_id\n\n【输出格式】\n请将你的所有工作成果严格按照下面的JSON结构返回，不要有任何JSON之外的文字：\n\n{\n  \"characters_timbre\": [\n    {\n      \"timbre_name\": \"旁白/主角（根据实际选择）\",\n      \"timbre_des\": \"音色描述\",\n      \"timbre_id\": 0\n    }\n    // 根据需要可以只有1个或2个音色\n  ],\n  \"voice_scripts\": [\n    {\n      \"text\": \"第一个分镜的配音文本（字数符合计算规则）\",\n      \"timbre_id\": 0,\n      \"start_time\": 100,\n      \"end_time\": 4500\n    },\n    {\n      \"text\": \"第二个分镜的配音文本（字数符合计算规则）\",\n      \"timbre_id\": 0,\n      \"start_time\": 5300,\n      \"end_time\": 7800\n    }\n    // 配音数量 = 分镜数量\n  ]\n}\n\n【最终检查清单】\n生成结果前，请务必验证：\n✓ voice_scripts数组长度 = 分镜脚本数量\n✓ 每段配音的时间范围都在其对应分镜的duration窗口内\n✓ 每段配音的文本字数 ≤ (持续时长×3)，且建议在70-85%范围\n✓ 所有配音时间无重叠，有合理停顿间隙\n✓ 音色选择符合故事风格，并正确关联timbre_id",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2064,
        320
      ],
      "id": "251f32eb-fb4c-4412-9d62-8a4c1167ccfb",
      "name": "生成语音脚本",
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsCode": "return {\n  data: $('生成视频分镜脚本').first().json.output.storyboard_prompts.map(item => {\n    return {\n      ...item,\n    }\n  })\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        320
      ],
      "id": "d0e69f64-43a7-4c3b-9cbb-60bd9d138a7a",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "jsCode": "return {\n  data: $input.first().json.output.storyboard_prompts.map((item, index) => `分镜${index+1}: ${item.prompt}。`)\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        320
      ],
      "id": "186f5509-cbc9-4b5f-8305-18666bb468ea",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "jsCode": "let prompt = ''\nconst length = $('生成每个分镜的图片prompt').first().json.output.storyboard_image_prompts.length;\nfor (let index = 0; index < length; index++) {\n  const element = $('生成每个分镜的图片prompt').first().json.output.storyboard_image_prompts[index].prompt;\n  prompt += index === length - 1 ? `分镜${index + 1}：${element}` : `分镜${index + 1}：${element}\\n`\n}\n\nreturn {\n  \"data\": prompt\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        720
      ],
      "id": "951ac79c-e723-4099-80c9-107acb8a1783",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc22a473-c04b-4b51-8dc6-505c4ec66d08",
              "name": "storyboard_images_filepath",
              "value": "={{ $('🐓单人Lora-生成分镜图片').item.json.images_filepath }}",
              "type": "array"
            },
            {
              "id": "f269540d-8057-4cce-b888-cfc86146d31d",
              "name": "storyboard_prompts",
              "value": "={{$('生成视频分镜脚本').first().json.output.storyboard_prompts}}",
              "type": "array"
            },
            {
              "id": "619947e6-58b3-41cf-ad1b-4b18bb7dce8d",
              "name": "video_width",
              "value": "={{ $('视频比例计算').first().json.video_width }}",
              "type": "number"
            },
            {
              "id": "1c7b961f-bb5b-40db-afa2-19cf42666212",
              "name": "video_height",
              "value": "={{ $('视频比例计算').first().json.video_height }}",
              "type": "number"
            },
            {
              "id": "6595af4e-046e-4575-bfe7-9505e795addb",
              "name": "voice",
              "value": "={{ $('生成语音脚本').item.json.output }}",
              "type": "object"
            },
            {
              "id": "75eec5c6-cb74-4e88-8623-3aa07078ed4e",
              "name": "storyboard_image_prompts",
              "value": "={{ $('生成每个分镜的图片prompt').item.json.output.storyboard_image_prompts }}",
              "type": "array"
            },
            {
              "id": "9b2533b6-c2c9-4a63-8b5f-5e3ad36500ca",
              "name": "video_width",
              "value": "={{ $('视频比例计算').item.json.video_width }}",
              "type": "string"
            },
            {
              "id": "dc49391c-e34f-4718-b9d4-9a1c00a69e74",
              "name": "video_height",
              "value": "={{ $('视频比例计算').item.json.video_height }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        720
      ],
      "id": "54cc8575-5ab8-4f61-ad82-26fcd7494c22",
      "name": "生成分镜图片后整理字段"
    },
    {
      "parameters": {
        "fieldToSplitOut": "storyboard_images_filepath",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1264,
        1088
      ],
      "id": "b9242f57-91ac-4100-9854-2e2d8d44d3ec",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1488,
        1088
      ],
      "id": "8f9af31b-cc75-4d3c-9f87-a88f4c25a123",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const index = $('生成分镜图片后整理字段').first().json.storyboard_images_filepath.indexOf($input.first().json.storyboard_images_filepath)\nconsole.log('===', index)\n\nconst element = $('生成分镜图片后整理字段').first().json.storyboard_prompts[index]\n\nreturn {\n  data: {\n    \"prompt\": element.prompt,\n    \"duration\": element.duration\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        1104
      ],
      "id": "7526392b-2128-4179-9129-a16e8827cc66",
      "name": "获取图片对应分镜脚本"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d500131c-0239-4fed-8a61-b10d771c4e81",
              "name": "videos_filepath",
              "value": "={{ $json.video_filepath }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1344
      ],
      "id": "03414bed-c1e1-4922-8a3b-c8b8cdc693a9",
      "name": "生成分镜视频后字段整理"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "video_filepath"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2288,
        1072
      ],
      "id": "7fdff0aa-39d7-421a-861a-02f75f5396da",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const storyboard = $('生成分镜图片后整理字段').first().json.storyboard_prompts\n\nconst voice_list = $input.first().json.data.map(item => {\n  return {\n    \"text\": item.text,\n    \"audio_length\": item.audio_length,\n    \"start_time\": item.start_time,\n    \"end_time\": item.end_time\n  }\n})\n\nreturn {\n  \"data\": {\n    storyboard,\n    voice_list\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1344
      ],
      "id": "90fab5fa-0dba-44b1-970b-d51dce3d891b",
      "name": "ai生成带时间的视频脚本前数据整理"
    },
    {
      "parameters": {
        "jsCode": "const audio_path_list = $('生成音频后字段整理').first().json.data\nconst video_path_list = $('生成分镜视频后字段整理').first().json.videos_filepath\nreturn {\n  \"data\": {\n    \"video_path_list\": video_path_list,\n    \"audio_path_list\": audio_path_list,\n    \"subtitle_filename\": $input.first().json.fileName\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1344
      ],
      "id": "084d0b71-3909-45b8-a01b-93769f27c150",
      "name": "音视频合并前数据整理"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个字幕编排专家，你的任务是根据我给出的'音频播放信息数组'，根据每个元素的start_time（音频开始播放时间点，单位为毫秒）和text（音频文本），生成srt格式的字幕文本，后续我会将这个字幕文本作为字幕文件，你要保证这个字幕文本的可用性，以json格式返回。\n一段字幕文本过长时(超过40个字符)，要注意换行处理\n\n'音频播放信息数组'如下：\n{{ JSON.stringify($json.data.voice_list.map(item => {\n  return {\n    text: item.text,\n    start_time: item.start_time\n  }\n})) }}\n\n返回格式示例：\n{\n\"subtitle_text\": \"\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1088,
        1344
      ],
      "id": "efcbdfa6-e565-4ffd-a535-92dc60a3fa33",
      "name": "生成字幕文件",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsCode": "// Get SRT subtitle text from previous node\nconst subtitle_text = $input.first().json.output.subtitle_text\n\n// Generate dynamic filename with timestamp and random number\nconst now = new Date();\nconst timestamp = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}_${String(now.getHours()).padStart(2, '0')}-${String(now.getMinutes()).padStart(2, '0')}-${String(now.getSeconds()).padStart(2, '0')}-${String(now.getMilliseconds()).padStart(3, '0')}`;\nconst random = Math.floor(Math.random() * 1000);\nconst fileName = `subtitle_${timestamp}_${random}.srt`;\n\n// Create binary data from UTF-8 text\nconst buffer = Buffer.from(subtitle_text, 'utf-8');\n\nreturn {\n  json: {\n    fileName: fileName\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/x-subrip',\n      fileName: fileName\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1344
      ],
      "id": "4883e6d3-195d-4873-bb0e-58b0796f2fd4",
      "name": "生成字幕文件名"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/files/{{ $binary.data.fileName }}{{ $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1504,
        1344
      ],
      "id": "a0ff59d7-fccd-4aef-bc50-f5f087abf85f",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "videoFilePath": "={{ $json.data }}",
        "outputPath": "=/home/node/files/video_only_{{ $now.format('yyyy-MM-dd_hh-mm-ss') }}.mp4"
      },
      "type": "n8n-nodes-media-composition.videoMerge",
      "typeVersion": 1,
      "position": [
        2032,
        1344
      ],
      "id": "d1d11c21-4b14-43cd-8eb7-ffad93d89b4b",
      "name": "Video Merge"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.data.video_path_list.map(item => {\n  return {\n    \"data\": item\n  }\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        1344
      ],
      "id": "0cdd7804-09fc-4383-93ea-86cdd7450707",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "videoPath": "={{ $('Video Merge').item.json.outputPath }}",
        "audioFilesArray": "={{ $json.data }}",
        "pathFieldName": "filename",
        "timeFieldName": "start_time",
        "audioVolume": 5,
        "subtitlePath": "={{ $('音视频合并前数据整理').item.json.data.subtitle_filename }}",
        "outputPath": "=/home/node/files/video_dub_{{ $now.format('yyyy-MM-dd_hh-mm-ss') }}.mp4"
      },
      "type": "n8n-nodes-media-composition.videoComposer",
      "typeVersion": 1,
      "position": [
        2304,
        1344
      ],
      "id": "a2bf5b9c-9ff7-4ca4-a1dc-de37571a5ddf",
      "name": "Video Composer"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"data\": $('音视频合并前数据整理').first().json.data.audio_path_list.map(item => {\n    return {\n      ...item,\n      filename: `/home/node/files/${item.filename}`,\n      start_time: parseInt(item.start_time) / 1000\n    }\n  })\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1344
      ],
      "id": "68bdb331-9c43-4940-b4d1-642dc74634a3",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位专业的视频分镜脚本编剧，精通影视语言和视觉叙事。\n\n你的任务是根据我提供的故事核心要素，为我创作一份专业、详细且富有电影感的动画IP人物的分镜脚本。\n\n---\n\n## 📋 创作基础信息\n\n- **故事核心**：{{ $('Webhook').item.json.body.story }}\n- **分镜上限**：分镜数目为2-5个。根据故事复杂程度请自我设置。\n\n**重要说明**：\n- 这是单人故事，主角只有一个人\n- 分镜脚本中只需描述动态变化\n- 去掉动画IP人物的着装描叙\n- 不要有拟人的动作描述\n\n---\n\n## 🎯 分镜脚本结构标准\n\n每个分镜的**prompt字段**必须遵循以下**两大核心模块**完整构建：\n\n```\nprompt = 动作描述 + 场景描述  \n```\n\n---\n\n## 📐 核心模块详解\n\n### **模块1：场景描述（Scene）**\n\n详细刻画主体所处的环境\n\n**包含**：\n- 空间特征、环境细节、氛围营造、天气/光线\n- 为叙事服务，与情节发展相呼应\n\n**示例**：\n- \"昏暗的地下室，墙壁上布满裂痕，角落堆积着杂物\"\n- \"樱花飘落的日式庭院，古朴的木质回廊，远处是雾气笼罩的青山\"\n- \"废弃的工业厂房内，锈迹斑斑的钢铁梁柱，地面积水反射着微弱光线\"\n\n---\n\n### **模块2：动作描述（Motion）**\n\n描述角色的**具体动作**，避免抽象形容\n\n**包含**：\n- 动作类型、速度节奏（快速/缓慢）、动作幅度（剧烈/轻微）\n- 通过动作展现情感\n\n**示例**：\n- \"缓慢蹲下，双手抱膝，身体微微颤抖\"\n- \"突然转身，快速奔跑\"\n- \"轻轻抬起右手，手指轻颤\"\n\n---\n\n## 📐 创作要求细则\n\n### **1. 叙事连贯性**\n- 每个分镜必须推进故事发展\n- 分镜之间有清晰的因果逻辑\n- 通过视觉变化展现情节转折\n\n### **2. 场景差异性**\n- **每个分镜的场景必须有明显差异**\n- 可通过改变：地点、时间、光线、景别、角度等\n- 避免连续分镜过于相似\n\n### **3. 时长控制**\n- 每个分镜时长2-5秒,专注于一个核心叙事点\n- 根据重要性分配时长：\n  - 过渡镜头：2-3秒\n  - 关键情节：4-5秒\n  - 情绪高潮：5秒\n\n### **4. 视觉冲击力**\n- 善用对比：大景别vs特写、明vs暗、动vs静\n- 在关键节点增加视觉张力\n- 运用镜头运动强化情绪\n\n---\n\n## 🎬 开始创作\n\n现在请严格按照以上要求,为我创作分镜脚本。\n\n**直接输出JSON,不要任何其他内容。**\n📤 输出格式（JSON）\n\n```json\n{\n  \"storyboard_prompts\": [\n    {\n      \"prompt\": \"[场景描述]。[动作描述]\",\n      \"duration\": 3,\n      \"description\": \"建立场景\"\n    },\n    {\n      \"prompt\": \"[完整的两模块描述...]\",\n      \"duration\": 4,\n      \"description\": \"情节转折\"\n    }\n  ]\n}\n```\n\n### **字段说明**\n- **prompt**：包含完整五大模块的详细分镜描述（150-300字）\n- **duration**：该分镜持续时间（2-5秒）\n- **description**：简述该镜头的叙事功能（15-30字）\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1040,
        320
      ],
      "id": "fd75e332-1eae-41d9-b47d-0a490f4571ec",
      "name": "生成视频分镜脚本",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsCode": "const video_ratio =$('Webhook').first().json.body.video_ratio \nlet width = 0;\nlet height = 0;\nif (video_ratio === '1:1') {\n  width = 1024;\n  height = 1024;\n} else if (video_ratio === '4:3') {\n  width = 1472;\n  height = 1136;\n} else if (video_ratio === '3:4') {\n  width = 1136;\n  height = 1472;\n} else if (video_ratio === '3:2') {\n  width = 1584;\n  height = 1056;\n} else if (video_ratio === '2:3') {\n  width = 1056;\n  height = 1584;\n} else if (video_ratio === '16:9') {\n  width = 1656;\n  height = 928;\n} else if (video_ratio === '9:16') {\n  width = 928;\n  height = 1656;\n}\n\nreturn {\n  \"image_width\": width,\n  \"image_height\": height,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        320
      ],
      "id": "90923fc6-014f-42a0-8a8f-697021d9ef9c",
      "name": "图片比例计算"
    },
    {
      "parameters": {
        "jsCode": "const video_ratio = $('Webhook').first().json.body.video_ratio  \nlet width = 0;\nlet height = 0;\nif (video_ratio === '1:1') {\n  width = 480;\n  height = 480;\n} else if (video_ratio === '4:3') {\n  width = 640;\n  height = 480;\n} else if (video_ratio === '3:4') {\n  width = 480;\n  height = 640;\n} else if (video_ratio === '3:2') {\n  width = 720;\n  height = 480;\n} else if (video_ratio === '2:3') {\n  width = 480;\n  height = 720;\n} else if (video_ratio === '16:9') {\n  width = 856;   \n  height = 480;\n} else if (video_ratio === '9:16') {\n  width = 480;   \n  height = 856;\n}\n\nreturn {\n  \"video_width\": width,\n  \"video_height\": height,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        320
      ],
      "id": "ab182671-70d0-4d14-a89c-082829f98cb9",
      "name": "视频比例计算"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65bc3b5d-145c-46d8-b35f-d3c06958d605",
              "name": "data",
              "value": "={{ $json.data.map(item => {\n  return {\n    ...item,\n    filePath: item.voice_filepath\n  }\n}) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        1344
      ],
      "id": "ff4dd0c7-f7c3-4654-a865-bfea5aa9017b",
      "name": "生成音频后字段整理"
    },
    {
      "parameters": {
        "jsCode": "const music_filepath = $('视频生成-生成背景音乐').first().json.music_filepath\nconst video_sound_dub = $('Video Composer').first().json.outputPath\n\nreturn {\n  \"data\": {\n    \"video_path_list\": [video_sound_dub],\n    \"audio_path_list\": [{\n      \"filePath\": music_filepath,\n      \"start_time\": 0,\n      \"audio_length\": $input.first().json.duration_ms\n    }]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1680
      ],
      "id": "26a93d15-9a7f-4353-9947-317021a3c735",
      "name": "音视频合并前数据整理2"
    },
    {
      "parameters": {
        "jsCode": "// 获取 binary 数据（兼容 n8n 各种 binary mode）\nconst item = $input.first();\nlet buffer;\n\ntry {\n    // 推荐方式：使用 n8n helper（支持 filesystem 和 base64 模式）\n    buffer = await this.helpers.getBinaryDataBuffer(0, 'data');  // 'data' 是 binary property name\n} catch (e) {\n    // 兼容旧版或直接 base64 的 fallback\n    const binaryData = item.binary?.data;\n    if (binaryData && typeof binaryData === 'string') {\n        buffer = Buffer.from(binaryData, 'base64');\n    } else if (Buffer.isBuffer(binaryData)) {\n        buffer = binaryData;\n    } else {\n        return [{ json: { error: '无法获取 binary 数据，请检查上游节点 binary property name 是否为 \"data\"' } }];\n    }\n}\n\n// FLAC duration 解析函数\nfunction getFlacDurationFromBinary(buffer) {\n    try {\n        if (buffer.length < 4 || buffer.toString('utf8', 0, 4) !== 'fLaC') {\n            return { error: '不是有效的 FLAC 文件（缺少 fLaC 头）' };\n        }\n\n        let offset = 4;  // 跳过 fLaC 标记\n\n        while (offset < buffer.length) {\n            // 读取 4 字节 metadata block header (Big Endian)\n            const blockHeader = buffer.readUInt32BE(offset);\n            offset += 4;\n\n            const isLast = (blockHeader & 0x80000000) !== 0;\n            const blockType = (blockHeader >> 24) & 0x7F;  // 类型\n            const blockSize = blockHeader & 0x00FFFFFF;    // 大小\n\n            // STREAMINFO block (type 0) 必须是第一个，通常紧跟 fLaC\n            if (blockType === 0) {\n                // STREAMINFO 数据从这里开始（34 字节固定结构）\n                const streamInfoOffset = offset;\n\n                // Sample rate: 20 bits，从 STREAMINFO 第 10 字节开始\n                // 字节 10-11 (high 16 bits) + 字节12 高4位\n                const sampleRate = ((buffer.readUInt16BE(streamInfoOffset + 10) << 4) |\n                                   (buffer.readUInt8(streamInfoOffset + 12) >> 4)) & 0xFFFFF;\n\n                // Total samples: 36 bits，从 STREAMINFO 第 13 字节开始 (Big-endian)\n                // 使用 readBigUInt64BE 简化 + 掩码取低36位\n                const totalSamplesHigh = buffer.readUInt8(streamInfoOffset + 13) & 0x0F; // 只取低4位\n                const totalSamples = (BigInt(totalSamplesHigh) << 32n) |\n                                     BigInt(buffer.readUInt32BE(streamInfoOffset + 14));\n\n                if (sampleRate > 0 && totalSamples > 0n) {\n                    const durationSeconds = Number(totalSamples) / sampleRate;\n                    const minutes = Math.floor(durationSeconds / 60);\n                    const seconds = Math.floor(durationSeconds % 60);\n\n                    return {\n                        duration_seconds: durationSeconds,\n                        duration_formatted: `${minutes}:${seconds.toString().padStart(2, '0')}`,\n                        sample_rate: sampleRate,\n                        total_samples: Number(totalSamples)\n                    };\n                } else {\n                    return { error: 'STREAMINFO 中 total_samples 或 sample_rate 为 0（未知时长）' };\n                }\n            }\n\n            offset += blockSize;\n            if (isLast) break;\n        }\n\n        return { error: '未找到 STREAMINFO metadata block' };\n    } catch (error) {\n        return { error: `解析错误: ${error.message}` };\n    }\n}\n\nconst result = getFlacDurationFromBinary(buffer);\n\nif (result.error) {\n    return [{ json: { error: result.error } }];\n}\n\n// 返回 duration_ms\nreturn [{\n    json: {\n        duration_ms: Math.floor(result.duration_seconds * 1000),\n        duration_seconds: result.duration_seconds,\n        duration_formatted: result.duration_formatted,\n        sample_rate: result.sample_rate,\n        total_samples: result.total_samples\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1680
      ],
      "id": "af2dfd9e-88d6-470e-bb30-5f80aca836e2",
      "name": "获取音频时长"
    },
    {
      "parameters": {
        "videoPath": "={{ $json.data.video_path_list[0] }}",
        "audioFilesArray": "={{ $json.data.audio_path_list }}",
        "pathFieldName": "filePath",
        "audioVolume": -15,
        "subtitlePath": "=",
        "outputPath": "=/home/node/files/finnal_{{ $now.format('yyyy-MM-dd_hh-mm-ss') }}.mp4"
      },
      "type": "n8n-nodes-media-composition.videoComposer",
      "typeVersion": 1,
      "position": [
        1504,
        1680
      ],
      "id": "41c6a5ef-e1bf-430b-9075-938e15a78c29",
      "name": "Video Composer3"
    },
    {
      "parameters": {
        "content": "配置区",
        "height": 368,
        "width": 2048,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        272
      ],
      "typeVersion": 1,
      "id": "538e79c8-9104-4152-8b26-8728ba560a55",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "生成分镜图片",
        "height": 288,
        "width": 2048,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        640
      ],
      "typeVersion": 1,
      "id": "44037c4b-359f-4bf0-bab2-a42f8e1681f1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "生成视频片段",
        "height": 288,
        "width": 1520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        992
      ],
      "typeVersion": 1,
      "id": "dd5de9fb-911a-4a4a-8d73-ca39a52a2147",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "生成音频",
        "height": 336,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1280
      ],
      "typeVersion": 1,
      "id": "9053ec9e-b813-4dd7-9d5f-fa5bc267a9cc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "生成字幕并合成视频",
        "height": 336,
        "width": 1520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        1280
      ],
      "typeVersion": 1,
      "id": "b919bf5c-8fa7-45a6-8540-af026b463714",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "生成背景音乐并再次合并视频",
        "height": 240,
        "width": 2048,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1616
      ],
      "typeVersion": 1,
      "id": "c22ff9d1-a407-47cf-bdfe-ae86e5e11073",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen3.5",
          "mode": "list",
          "cachedResultName": "Qwen3.5"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1088,
        1504
      ],
      "id": "94c6cd21-a880-4738-aad1-aa8dd96f1090",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "gM924akHUPCvr5sE",
          "name": "supper center"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen3.5",
          "mode": "list",
          "cachedResultName": "Qwen3.5"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1040,
        512
      ],
      "id": "dca36e39-630d-41e0-8169-3c12c1d28cbd",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "gM924akHUPCvr5sE",
          "name": "supper center"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen3.5",
          "mode": "list",
          "cachedResultName": "Qwen3.5"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1584,
        496
      ],
      "id": "bf79bb25-a125-4630-a1fe-81ec056e4e2d",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "gM924akHUPCvr5sE",
          "name": "supper center"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen3.5",
          "mode": "list",
          "cachedResultName": "Qwen3.5"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2064,
        512
      ],
      "id": "9eade82d-26d0-44d1-a35f-6c191452e580",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "gM924akHUPCvr5sE",
          "name": "supper center"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "htV9YwPHhjaIGOcn",
          "mode": "list",
          "cachedResultUrl": "/workflow/htV9YwPHhjaIGOcn",
          "cachedResultName": "🦅单人视频-生成配音"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "voice_script": "={{ $('生成分镜图片后整理字段').item.json.voice }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "voice_script",
              "displayName": "voice_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "output_folder_path",
              "displayName": "output_folder_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "voice_example_folder_path",
              "displayName": "voice_example_folder_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        1344
      ],
      "id": "57310821-c4c7-44ef-8f04-485ffb43b5f5",
      "name": "🦅单人视频-生成配音"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YaPEJOrK4FpAa1LY",
          "mode": "list",
          "cachedResultUrl": "/workflow/YaPEJOrK4FpAa1LY",
          "cachedResultName": "🪿单人视频-生成背景音乐"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "storyboard_prompts": "={{ $('生成分镜图片后整理字段').item.json.storyboard_prompts }}",
            "character": "={{ $('生成分镜图片后整理字段').item.json.character_prompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "storyboard_prompts",
              "displayName": "storyboard_prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "character",
              "displayName": "character",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output_folder_path",
              "displayName": "output_folder_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        1680
      ],
      "id": "141af34e-5860-489e-ac7c-445d7e8a1d08",
      "name": "视频生成-生成背景音乐"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TlQWcAQoa4n72j4P",
          "mode": "list",
          "cachedResultUrl": "/workflow/TlQWcAQoa4n72j4P",
          "cachedResultName": "🦆单人视频-生成视频片段"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "duration": "={{ $json.data.duration }}",
            "width": "={{ $('生成分镜图片后整理字段').item.json.video_width }}",
            "height": "={{ $('生成分镜图片后整理字段').item.json.video_height }}",
            "prompt": "={{ $json.data.prompt }}",
            "image_filepath": "={{ $('Loop Over Items').item.json.storyboard_images_filepath }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_filepath",
              "displayName": "image_filepath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "width",
              "displayName": "width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "height",
              "displayName": "height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "output_folder_path",
              "displayName": "output_folder_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1984,
        1104
      ],
      "id": "2445b870-ffec-4323-a68c-90d8c2314274",
      "name": "🦆单人视频-生成视频片段"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.music_filepath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        672,
        1680
      ],
      "id": "30a63692-2487-45e3-b05e-fcea008c2f43",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subtitle_text\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        1504
      ],
      "id": "ecfc4a85-bd1b-48ae-9d55-2b093fdb47a0",
      "name": "Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"storyboard_prompts\": [\n    {\n      \"prompt\": \"角色[服饰变化（如需要）]，[表情/情绪描述]。[场景描述]。[动作描述]。[美学控制：光源、照明、景别、构图、镜头焦距、机位角度、镜头运动、色调等]。[风格化]\",\n      \"duration\": 3,\n      \"description\": \"建立场景,展现主角初始状态\"\n    },\n    {\n      \"prompt\": \"[完整的五模块描述...]\",\n      \"duration\": 4,\n      \"description\": \"情节转折,主角情绪变化\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1184,
        512
      ],
      "id": "177ec22c-d3c4-4179-9af1-c97c8e4dee59",
      "name": "parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"storyboard_image_prompts\": [\n    {\n      \"prompt\": \"转换后的首帧图片描述\",\n      \"thought_process\": \"详细说明你的分析思路：识别了哪些动作类型、做了哪些转换、保留了哪些元素、删除了哪些元素\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1728,
        496
      ],
      "id": "4d384336-ab0e-4f83-b284-a9b186a1c902",
      "name": "parser2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"characters_timbre\": [\n      {\n        \"timbre_name\": \"旁白\",\n        \"timbre_des\": \"\",\n        \"timbre_id\": 0\n      }\n    ],\n\t\"voice_scripts\": [\n      {\n        \"text\": \"第一段旁白或角色说的话\",\n        \"timbre_id\": 0,\n        \"start_time\": 100,\n        \"end_time\": 4000\n      },\n      {\n        \"text\": \"第二段旁白或角色说的话\",\n        \"timbre_id\": 1,\n        \"start_time\": 5500,\n        \"end_time\": 9500\n      }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2208,
        512
      ],
      "id": "4db3a548-710c-44fc-b280-27568fe89849",
      "name": "parser3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gene-images",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        320
      ],
      "id": "bb88cfab-b74f-42b4-af58-f8cc5fe27502",
      "name": "Webhook",
      "webhookId": "e0b13925-c079-4fdb-b305-efb98abfe4f1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"executionId\": \"{{ $execution.id }}\",\n  \"status\": \"success\",\n  \"message\": \"Workflow executed successfully\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        128
      ],
      "id": "19dd4811-0d8b-4ef4-b005-ba48985ffcc3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "J3YaofTO0eHhgjAp",
          "mode": "list",
          "cachedResultName": "tworkflow",
          "cachedResultUrl": "/projects/A1HdxbOAbMRJMiPU/datatables/J3YaofTO0eHhgjAp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "execution_id",
              "keyValue": "={{ $execution.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $execution.id }}",
            "status": "success",
            "response": "={{ JSON.stringify($json) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1184,
        720
      ],
      "id": "a8f31545-8a96-4d49-8f13-b56b3500bbbc",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1rBY3rKFlO4kzMN4",
          "mode": "list",
          "cachedResultUrl": "/workflow/1rBY3rKFlO4kzMN4",
          "cachedResultName": "🐓单人Lora-生成分镜图片"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "width": "={{ $('图片比例计算').item.json.image_width }}",
            "height": "={{ $('图片比例计算').item.json.image_height }}",
            "role": "={{ $('Webhook').item.json.body.role }}",
            "prompts": "={{ $('角色和分镜脚本字段整理').item.json.storyboard_prompts }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompts",
              "displayName": "prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "width",
              "displayName": "width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "height",
              "displayName": "height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        720
      ],
      "id": "6ab14c14-c707-46f5-8478-5d00a0cfab43",
      "name": "🐓单人Lora-生成分镜图片"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "117.50.218.161:5678",
            "connection": "keep-alive",
            "content-type": "multipart/form-data; boundary=----formdata-undici-069701655260",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "gzip, deflate",
            "content-length": "189046"
          },
          "params": {},
          "query": {},
          "body": {
            "role": "edi",
            "video_ratio": "16:9",
            "story": "edi在花园里开着红色的甲壳虫",
            "video_width": "1280",
            "video_height": "720"
          },
          "webhookUrl": "http://117.50.218.161:5678/webhook/gene-images",
          "executionMode": "production"
        },
        "binary": {
          "image": {
            "mimeType": "image/png",
            "fileType": "image",
            "fileExtension": "png",
            "data": "filesystem-v2",
            "fileName": "edi.png",
            "id": "filesystem-v2:workflows/IVVcupJEZDLRHQwF/executions/temp/binary_data/1803f5f6-59eb-4b90-8d3c-ecaa5857bfd4",
            "fileSize": "188 kB",
            "bytes": 188376
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "生成每个分镜的图片prompt": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成语音脚本": {
      "main": [
        [
          {
            "node": "角色和分镜脚本字段整理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "生成语音脚本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "生成每个分镜的图片prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "角色和分镜脚本字段整理": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "🐓单人Lora-生成分镜图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成分镜图片后整理字段": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "获取图片对应分镜脚本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取图片对应分镜脚本": {
      "main": [
        [
          {
            "node": "🦆单人视频-生成视频片段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "生成分镜视频后字段整理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai生成带时间的视频脚本前数据整理": {
      "main": [
        [
          {
            "node": "生成字幕文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "音视频合并前数据整理": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成字幕文件": {
      "main": [
        [
          {
            "node": "生成字幕文件名",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成字幕文件名": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "音视频合并前数据整理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Video Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Video Composer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成分镜视频后字段整理": {
      "main": [
        [
          {
            "node": "🦅单人视频-生成配音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成视频分镜脚本": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "图片比例计算": {
      "main": [
        [
          {
            "node": "视频比例计算",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "视频比例计算": {
      "main": [
        [
          {
            "node": "生成视频分镜脚本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成音频后字段整理": {
      "main": [
        [
          {
            "node": "ai生成带时间的视频脚本前数据整理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Composer": {
      "main": [
        [
          {
            "node": "视频生成-生成背景音乐",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取音频时长": {
      "main": [
        [
          {
            "node": "音视频合并前数据整理2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "音视频合并前数据整理2": {
      "main": [
        [
          {
            "node": "Video Composer3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "生成字幕文件",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "生成视频分镜脚本",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "生成每个分镜的图片prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "生成语音脚本",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🦅单人视频-生成配音": {
      "main": [
        [
          {
            "node": "生成音频后字段整理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "视频生成-生成背景音乐": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🦆单人视频-生成视频片段": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "获取音频时长",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "生成字幕文件",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "parser1": {
      "ai_outputParser": [
        [
          {
            "node": "生成视频分镜脚本",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "parser2": {
      "ai_outputParser": [
        [
          {
            "node": "生成每个分镜的图片prompt",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "parser3": {
      "ai_outputParser": [
        [
          {
            "node": "生成语音脚本",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "图片比例计算",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐓单人Lora-生成分镜图片": {
      "main": [
        [
          {
            "node": "生成分镜图片后整理字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5ea0cdc1-bd51-47e6-b13c-42f382adaa51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "id": "IVVcupJEZDLRHQwF",
  "tags": []
}