n8n/视频/🦅单人视频-生成配音.json
{
  "name": "🦅单人视频-生成配音",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "565c1e1b-70c2-403d-a35f-4f43cfd2c0ae",
              "name": "voice_script",
              "value": "={{ $json.voice_script }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        224
      ],
      "id": "15e06b87-a372-4a3f-b068-146b2145093f",
      "name": "配置字段"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "voice_script",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        224
      ],
      "id": "17bc34f6-9990-4f2d-bd3b-7f0393a0d52f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"timbre_list\":[\n    {\n        \"voice_id\": \"活力女声.flac\",\n        \"voice_description\": \"有活力的青年女性声音\"\n    },\n    {\n        \"voice_id\": \"不羁男声.flac\",\n        \"voice_description\": \"潇洒不羁的青年男性声音\"\n    },\n    {\n        \"voice_id\": \"沉稳男声.flac\",\n        \"voice_description\": \"沉稳可靠的青年男性声音\"\n    },\n    {\n        \"voice_id\": \"成熟女声.flac\",\n        \"voice_description\": \"成熟稳重的中年女性声音\"\n    },\n    {\n        \"voice_id\": \"聪明儿童男声.flac\",\n        \"voice_description\": \"聪明的男孩声音\"\n    },\n    {\n        \"voice_id\": \"淡雅女声.flac\",\n        \"voice_description\": \"淡雅坚定的青年女性声音\"\n    },\n    {\n        \"voice_id\": \"搞笑大爷.flac\",\n        \"voice_description\": \"搞笑的中年男性声音\"\n    },\n    {\n        \"voice_id\": \"可爱儿童男声.flac\",\n        \"voice_description\": \"可爱的男孩声音\"\n    },\n    {\n        \"voice_id\": \"可爱儿童女声.flac\",\n        \"voice_description\": \"可爱的女孩声音\"\n    },\n    {\n        \"voice_id\": \"老年女声.flac\",\n        \"voice_description\": \"老年女性的声音\"\n    },\n    {\n        \"voice_id\": \"少年男声.flac\",\n        \"voice_description\": \"少年男性声音\"\n    },\n    {\n        \"voice_id\": \"甜美女声.flac\",\n        \"voice_description\": \"甜美的青年女性声音\"\n    },\n    {\n        \"voice_id\": \"温暖少女.flac\",\n        \"voice_description\": \"温暖的少年女性声音\"\n    },\n    {\n        \"voice_id\": \"温润男声.flac\",\n        \"voice_description\": \"温暖的青年男性声音\"\n    },\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        224
      ],
      "id": "5deff671-ca38-4cb6-aef7-2488e25b0f32",
      "name": "音色列表"
    },
    {
      "parameters": {
        "fieldToSplitOut": "voice_timbre_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1520,
        224
      ],
      "id": "4fc3ef45-d69a-46f4-a0ca-fbf70bac5804",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1744,
        224
      ],
      "id": "0a45cfda-23d7-472b-88e8-d21095b1a0b5",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"data\":[\n    {\n    \"voice_id\": \"\",\n    \"timbre_id\": 0\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1024,
        464
      ],
      "id": "444e7cdd-bf63-48e4-b178-df7047cb4d3b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2176,
        240
      ],
      "id": "11ee927e-2a7c-4a9a-be65-8f9aa46ea216",
      "name": "Wait2",
      "webhookId": "0a4675d5-4a1b-48af-82f0-49903aa5c606"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95b5670e-5019-45a7-b701-08a608311038",
              "leftValue": "={{ $json.values()[0].status.status_str }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        240
      ],
      "id": "b1112474-ac1f-4efd-89df-2faa877145a3",
      "name": "If4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const voice_timbre_list = $('配置字段').first().json.voice_script.voice_scripts.map(item => {\n  const voice = $input.first().json.output.data.find(d => d.timbre_id === item.timbre_id)\n  return {\n    ...item,\n    \"voice_id\": voice.voice_id \n  }\n})\n\nreturn {\n  \"voice_timbre_list\": voice_timbre_list\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        224
      ],
      "id": "f75fcfa2-aa0d-4340-ad00-eaf83836a88c",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "\nreturn {\n  \"filename\": $('获取音频资源').first().json.filename,\n  \"text\": $('Loop Over Items1').first().json.text,\n  \"start_time\": $('Loop Over Items1').first().json.start_time,\n  \"end_time\": $('Loop Over Items1').first().json.end_time,\n  \"audio_length\": $input.first().json.duration_ms\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        224
      ],
      "id": "dc26a391-ff40-48e7-a1ca-b456fdd06e03",
      "name": "Code"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1984,
        -112
      ],
      "id": "3ef7c436-ca38-4d2d-ab22-2deacaf64839",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8941cd67-eb38-4340-ae66-750b98369d79",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        -112
      ],
      "id": "c4eed96a-f826-433b-a56f-d663fff61aa6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-5",
          "mode": "list",
          "cachedResultName": "glm-5"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        880,
        464
      ],
      "id": "3ac76261-4614-4370-81d7-6c23474ceab6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OAGoah9WZYmJctU1",
          "name": "Qwen_aliyun"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位专业的角色配音挑选专家，擅长根据角色描述精准匹配音色。你的任务是：根据我提供的“角色描述”数组和“音色列表”，为每一个角色选择一个最匹配的音色，必须为每个角色都成功分配一个音色，不允许任何角色缺失匹配。\n\n## 严格匹配规则（必须严格遵守）：\n\n1. 输出格式：必须严格以以下JSON格式返回，不要添加任何额外文字、解释或markdown：\n```json\n{\n  \"data\": [\n    {\n      \"voice_id\": \"xxx.flac\",\n      \"timbre_id\": 0\n    }\n  ]\n}\n```\n2. timbre_id 处理：\n直接从“角色描述”中对应角色的 timbre_id 字段取值，一一对应。\n3. voice_id 匹配逻辑（核心规则，必须优先级从高到低执行）：\n- 优先根据角色描述中的 timbre_des（尤其是年龄、性别、声音特质、情绪风格）与“音色列表”中每个音色的 voice_description 进行语义匹配。\n- 必须考虑的关键匹配维度：性别（男/女）、年龄段（儿童/少年/青年/中年/老年）、声音特质（清脆、甜美、可爱、温暖、沉稳、活泼等）、整体风格（童真、动画风格、情绪丰富等）。\n- 如果存在高度匹配的音色（例如“女孩”对应“可爱儿童女声”），优先选择最贴切的。\n- 如果没有完全匹配的音色，必须选择最接近的近似音色，不允许留空或跳过。\n- 优先级建议：年龄最接近 → 性别最接近 → 特质最接近。\n示例：6岁女孩 → 优先“可爱儿童女声”，其次“温暖少女”或“甜美女声”（即使是青年也比男性好）。\n- 强制要求：数组中每个元素必须与“角色描述”中的角色一一对应，且每个角色都必须分配一个有效的 voice_id。\n4. 额外保证：\n- 永远不要返回空数组或缺失元素的 JSON。\n- 即使音色列表中没有完美匹配，也要从列表中挑选相对最合适的音色。\n- 角色描述中提到的“皮克斯动画风格”“童真”“清脆”等关键词，应优先匹配带有“可爱”“儿童”“甜美”“温暖”等描述的音色。\n\n\n以下是'角色描述'：\n{{ JSON.stringify($('配置字段').item.json.voice_script.characters_timbre) }}\n\n以下是'音色列表'：\n{{ JSON.stringify( $json.timbre_list ) }}\n\n你的返回数据格式示例为：\n{\n\"data\":[\n    {\n    \"voice_id\": \"\",\n    \"timbre_id\": 0\n    }\n  ]\n}\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        880,
        224
      ],
      "id": "86541a41-d6e3-4828-9716-c1fe6507dc72",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $env[\"COMFYUI_ADDR\"]||'117.50.81.239' }}:8188/prompt",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {\n  \"1\": {\n    \"inputs\": {\n      \"top_k\": 30,\n      \"top_p\": 0.8,\n      \"temperature\": 0.8,\n      \"num_beams\": 3,\n      \"max_mel_tokens\": 1500,\n      \"max_text_tokens_per_sentence\": 120,\n      \"custom_cuda_kernel\": false,\n      \"deepspeed\": true,\n      \"unload_model\": true,\n      \"emo_alpha\": 1,\n      \"emo_vector\": \"\",\n      \"use_emo_text\": false,\n      \"emo_text\": \"\",\n      \"use_random\": false,\n      \"emo_alpha_s2\": 1.0000000000000002,\n      \"emo_vector_s2\": \"\",\n      \"use_emo_text_s2\": false,\n      \"emo_text_s2\": \"\",\n      \"use_random_s2\": false,\n      \"audio\": [\n        \"9\",\n        0\n      ],\n      \"text\": [\n        \"6\",\n        0\n      ]\n    },\n    \"class_type\": \"IndexTTS2Run\",\n    \"_meta\": {\n      \"title\": \"IndexTTS2 Run\"\n    }\n  },\n  \"6\": {\n    \"inputs\": {\n      \"text\": \"{{ $json.text }}\"\n    },\n    \"class_type\": \"Text Multiline\",\n    \"_meta\": {\n      \"title\": \"多行文本\"\n    }\n  },\n  \"9\": {\n    \"inputs\": {\n      \"audio\": \"voice/{{ $json.voice_id }}\",\n      \"audioUI\": \"/api/view?filename=%E6%90%9E%E7%AC%91%E5%A4%A7%E7%88%B7.flac&type=input&subfolder=&rand=0.6831432869771068\"\n    },\n    \"class_type\": \"LoadAudio\",\n    \"_meta\": {\n      \"title\": \"Load Audio\"\n    }\n  },\n  \"14\": {\n    \"inputs\": {\n      \"filename_prefix\": \"audio/ComfyUI\",\n      \"audioUI\": \"/api/view?filename=ComfyUI_00003_.flac&type=output&subfolder=audio&rand=0.{{ Math.random().toString().slice(2, 18) }}\",\n      \"audio\": [\n        \"1\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveAudio\",\n    \"_meta\": {\n      \"title\": \"Save Audio (FLAC)\"\n    }\n  }\n}\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        240
      ],
      "id": "b90cb572-e43e-4589-b1eb-31b79c4098a4",
      "name": "请求生成配音",
      "credentials": {
        "httpBearerAuth": {
          "id": "i7nqkSZdWgnZJnz5",
          "name": "Bearer vincentzou"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://{{ $env[\"COMFYUI_ADDR\"]||'117.50.81.239' }}:8188/history/{{ $('请求生成配音').item.json.prompt_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        240
      ],
      "id": "758724c1-6a85-4f82-b6c8-ca1f7a402061",
      "name": "检查是否完成",
      "credentials": {
        "httpBearerAuth": {
          "id": "i7nqkSZdWgnZJnz5",
          "name": "Bearer vincentzou"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://{{ $env[\"COMFYUI_ADDR\"]||'117.50.81.239' }}:8188/view",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $json.filename }}"
            },
            {
              "name": "type",
              "value": "output"
            },
            {
              "name": "subfolder",
              "value": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3008,
        224
      ],
      "id": "09168f2c-f5dc-4adc-82b5-d0a0c2af2709",
      "name": "获取音频资源",
      "credentials": {
        "httpBearerAuth": {
          "id": "i7nqkSZdWgnZJnz5",
          "name": "Bearer vincentzou"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45148eb8-79ba-4e63-8c34-c9b9fa99feba",
              "name": "filename",
              "value": "={{Object.values($json).map(item => item.outputs[14].audio[0].filename)[0]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        224
      ],
      "id": "8196c2e1-6ba0-4013-a4a2-c41cea0d7055",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "// 获取 binary 数据（兼容 n8n 各种 binary mode）\nconst item = $input.first();\nlet buffer;\n\ntry {\n    // 推荐方式：使用 n8n helper（支持 filesystem 和 base64 模式）\n    buffer = await this.helpers.getBinaryDataBuffer(0, 'data');  // 'data' 是 binary property name\n} catch (e) {\n    // 兼容旧版或直接 base64 的 fallback\n    const binaryData = item.binary?.data;\n    if (binaryData && typeof binaryData === 'string') {\n        buffer = Buffer.from(binaryData, 'base64');\n    } else if (Buffer.isBuffer(binaryData)) {\n        buffer = binaryData;\n    } else {\n        return [{ json: { error: '无法获取 binary 数据，请检查上游节点 binary property name 是否为 \"data\"' } }];\n    }\n}\n\n// FLAC duration 解析函数\nfunction getFlacDurationFromBinary(buffer) {\n    try {\n        if (buffer.length < 4 || buffer.toString('utf8', 0, 4) !== 'fLaC') {\n            return { error: '不是有效的 FLAC 文件（缺少 fLaC 头）' };\n        }\n\n        let offset = 4;  // 跳过 fLaC 标记\n\n        while (offset < buffer.length) {\n            // 读取 4 字节 metadata block header (Big Endian)\n            const blockHeader = buffer.readUInt32BE(offset);\n            offset += 4;\n\n            const isLast = (blockHeader & 0x80000000) !== 0;\n            const blockType = (blockHeader >> 24) & 0x7F;  // 类型\n            const blockSize = blockHeader & 0x00FFFFFF;    // 大小\n\n            // STREAMINFO block (type 0) 必须是第一个，通常紧跟 fLaC\n            if (blockType === 0) {\n                // STREAMINFO 数据从这里开始（34 字节固定结构）\n                const streamInfoOffset = offset;\n\n                // Sample rate: 20 bits，从 STREAMINFO 第 10 字节开始\n                // 字节 10-11 (high 16 bits) + 字节12 高4位\n                const sampleRate = ((buffer.readUInt16BE(streamInfoOffset + 10) << 4) |\n                                   (buffer.readUInt8(streamInfoOffset + 12) >> 4)) & 0xFFFFF;\n\n                // Total samples: 36 bits，从 STREAMINFO 第 13 字节开始 (Big-endian)\n                // 使用 readBigUInt64BE 简化 + 掩码取低36位\n                const totalSamplesHigh = buffer.readUInt8(streamInfoOffset + 13) & 0x0F; // 只取低4位\n                const totalSamples = (BigInt(totalSamplesHigh) << 32n) |\n                                     BigInt(buffer.readUInt32BE(streamInfoOffset + 14));\n\n                if (sampleRate > 0 && totalSamples > 0n) {\n                    const durationSeconds = Number(totalSamples) / sampleRate;\n                    const minutes = Math.floor(durationSeconds / 60);\n                    const seconds = Math.floor(durationSeconds % 60);\n\n                    return {\n                        duration_seconds: durationSeconds,\n                        duration_formatted: `${minutes}:${seconds.toString().padStart(2, '0')}`,\n                        sample_rate: sampleRate,\n                        total_samples: Number(totalSamples)\n                    };\n                } else {\n                    return { error: 'STREAMINFO 中 total_samples 或 sample_rate 为 0（未知时长）' };\n                }\n            }\n\n            offset += blockSize;\n            if (isLast) break;\n        }\n\n        return { error: '未找到 STREAMINFO metadata block' };\n    } catch (error) {\n        return { error: `解析错误: ${error.message}` };\n    }\n}\n\nconst result = getFlacDurationFromBinary(buffer);\n\nif (result.error) {\n    return [{ json: { error: result.error } }];\n}\n\n// 返回 duration_ms\nreturn [{\n    json: {\n        duration_ms: Math.floor(result.duration_seconds * 1000),\n        duration_seconds: result.duration_seconds,\n        duration_formatted: result.duration_formatted,\n        sample_rate: result.sample_rate,\n        total_samples: result.total_samples\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        224
      ],
      "id": "5f7e3800-4f0f-4724-9d0e-b9a133b10e3f",
      "name": "获取音频时长"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/files/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        3216,
        224
      ],
      "id": "df19fc60-fbfd-4b05-834a-44abe210b023",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "voice_script": {
            "characters_timbre": [
              {
                "timbre_name": "旁白",
                "timbre_des": "温暖沉静的中年男性旁白，语速舒缓，带有叙事感和情感沉淀，适合营造宁静夜晚的文学氛围",
                "timbre_id": 0
              }
            ],
            "voice_scripts": [
              {
                "text": "夜色静谧，篝火温暖",
                "timbre_id": 0,
                "start_time": 100,
                "end_time": 3700
              },
              {
                "text": "树枝轻拨，火星跃动",
                "timbre_id": 0,
                "start_time": 4300,
                "end_time": 8700
              },
              {
                "text": "眼眸映着微光，心绪安宁",
                "timbre_id": 0,
                "start_time": 9300,
                "end_time": 13700
              },
              {
                "text": "火渐弱，心更静",
                "timbre_id": 0,
                "start_time": 14300,
                "end_time": 17700
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "配置字段": {
      "main": [
        [
          {
            "node": "音色列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "配置字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "请求生成配音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "音色列表": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "检查是否完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "请求生成配音": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查是否完成": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取音频资源": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "获取音频资源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取音频时长": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "获取音频时长",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "49158fb8-a4d3-41b9-af10-cd0ea8d74590",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "id": "htV9YwPHhjaIGOcn",
  "tags": []
}