n8n/图片/ai-single-ip-character.json
{
  "name": "ai-single-ip-character",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-single-ip-character",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "📥 Webhook 接收",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "ai-single-ip-character",
      "id": "a5212f4e-f4e9-4338-a6ad-b3c650b8078b"
    },
    {
      "parameters": {
        "jsCode": "// 单个IP人物生成 - ComfyUI 工作流构建\nconst inputData = $input.first()?.json || {};\nconst body = inputData.body || {};\n\nconst role = (body.character_name || body.name || body.role || 'poppy').toLowerCase();\nconst rawPrompt = body.prompt || '';\nconst userNegative = body.negative_prompt || 'blurry, 3d, realistic, complex textures, bad anatomy, deformed, shadows, gradients, background details';\n\n// 角色触发词映射\nconst triggerWords = {\n  poppy: 'cj_vector_style, poppy_character, minimalist, solid black dot eyes, no pupils',\n  edi: 'cj_vector_style, edi_character',\n  rolly: 'cj_vector_style, rolly_character',\n  ace: 'cj_vector_style, ace_character',\n  milo: 'cj_vector_style, milo_character'\n};\n\nconst userPrompt = `${triggerWords[role] || `${role}_character`}, ${rawPrompt}`;\n\n// 构建单个角色的 ComfyUI 工作流\nconst workflow = {\n  \"1\": { \"inputs\": { \"unet_name\": \"z_image_turbo_bf16.safetensors\", \"weight_dtype\": \"default\" }, \"class_type\": \"UNETLoader\" },\n  \"2\": { \"inputs\": { \"vae_name\": \"ae.safetensors\" }, \"class_type\": \"VAELoader\" },\n  \"3\": { \"inputs\": { \"clip_name\": \"qwen_3_4b.safetensors\", \"type\": \"lumina2\", \"device\": \"default\" }, \"class_type\": \"CLIPLoader\" },\n  \"4\": { \"inputs\": { \"shift\": 3, \"model\": [\"1\", 0] }, \"class_type\": \"ModelSamplingAuraFlow\" },\n  \"5\": { \"inputs\": { \"width\": body.width || 1024, \"height\": body.height || 1024, \"batch_size\": 1 }, \"class_type\": \"EmptySD3LatentImage\" },\n  \"7\": { \"inputs\": { \"text\": userNegative, \"clip\": [\"3\", 0] }, \"class_type\": \"CLIPTextEncode\" },\n  \"101\": { \"inputs\": { \"lora_name\": `${role}.safetensors`, \"strength_model\": 0.8, \"strength_clip\": 1, \"model\": [\"4\", 0], \"clip\": [\"3\", 0] }, \"class_type\": \"LoraLoader\" },\n  \"102\": { \"inputs\": { \"text\": userPrompt, \"clip\": [\"101\", 1] }, \"class_type\": \"CLIPTextEncode\" },\n  \"103\": { \"inputs\": { \"seed\": Math.floor(Math.random() * 100000000000000), \"steps\": 20, \"cfg\": 1.5, \"sampler_name\": \"euler\", \"scheduler\": \"simple\", \"denoise\": 1, \"model\": [\"101\", 0], \"positive\": [\"102\", 0], \"negative\": [\"7\", 0], \"latent_image\": [\"5\", 0] }, \"class_type\": \"KSampler\" },\n  \"104\": { \"inputs\": { \"samples\": [\"103\", 0], \"vae\": [\"2\", 0] }, \"class_type\": \"VAEDecode\" },\n  \"105\": { \"inputs\": { \"filename_prefix\": `Asset_${role}`, \"images\": [\"104\", 0] }, \"class_type\": \"SaveImage\" }\n};\n\nconst comfyuiUrl = 'https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com';\n\nreturn [{\n  json: {\n    comfyui_url: comfyuiUrl,\n    comfyui_payload: { prompt: workflow },\n    debug: {\n      role_identified: role,\n      final_prompt: userPrompt,\n      lora_used: `${role}.safetensors`\n    }\n  }\n}];"
      },
      "name": "🎨 准备生成参数",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "fed30155-b247-41d5-b076-6107b12665c2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.comfyui_url}}/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.comfyui_payload }}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "🎬 提交 ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "id": "00b5c057-f074-4274-b45d-e007f4c3fb66"
    },
    {
      "parameters": {
        "jsCode": "const comfyuiResponse = $input.first()?.json || {};\nconst promptId = comfyuiResponse?.prompt_id || comfyuiResponse?.id;\n\nconst prepNode = $('🎨 准备生成参数').all();\nlet comfyuiUrl = '';\nif (prepNode && prepNode.length > 0) {\n  comfyuiUrl = prepNode[0]?.json?.comfyui_url || '';\n}\n\nreturn [{\n  json: {\n    executionId: promptId,\n    comfyuiUrl: comfyuiUrl,\n    workflowType: 'single-ip-character',\n    status: 'submitted'\n  }\n}];"
      },
      "name": "📌 提取任务ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "d643467f-ee2d-47fa-a74c-5d94fe098b9c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "📤 返回任务ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "9cc57889-1ea0-44d1-9810-c3252fd368e2"
    }
  ],
  "pinData": {
    "📥 Webhook 接收": [
      {
        "json": {
          "headers": {
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "character_name": "poppy",
            "prompt": "doing yoga stretching poses, flat vector illustration, uniform thick black outlines, monoline style, 2D flat design, solid white background",
            "negative_prompt": "blurry, 3d, realistic, complex textures, bad anatomy, deformed, shadows, gradients, background details",
            "width": 1024,
            "height": 1024
          },
          "webhookUrl": "http://localhost:5678/webhook/ai-single-ip-character",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "📥 Webhook 接收": {
      "main": [
        [
          {
            "node": "🎨 准备生成参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 准备生成参数": {
      "main": [
        [
          {
            "node": "🎬 提交 ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 提交 ComfyUI": {
      "main": [
        [
          {
            "node": "📌 提取任务ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📌 提取任务ID": {
      "main": [
        [
          {
            "node": "📤 返回任务ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f76eb942-8ce6-40db-b347-6c212cc88bf0",
  "meta": {
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "id": "MO4azZnDmSOhhxBb",
  "tags": []
}