n8n/图片/AI自由生图.json
{
  "name": "AI自由生图",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-free-image-generation",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "📥 Webhook 接收",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        48
      ],
      "webhookId": "ai-free-image-gen-01",
      "id": "855939a1-ec7b-40e2-a358-8b6b43ed0553"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json.body;\n\nconst prompt = input.prompt || '';\nconst width = input.width || 1024;\nconst height = input.height || 1024;\nconst negativePrompt = input.negative_prompt || 'blurry, low quality, deformed, ugly, bad anatomy, disfigured, poorly drawn face, mutation, extra limb, poorly drawn hands, missing limb, floating limbs, disconnected limbs, malformed hands, blur, out of focus, long neck, long body';\nconst seed = Math.floor(Math.random() * 2147483647);\n\nconst comfyuiUrl = 'https://vcbj5meqyp1y7ifw-8188.container.x-gpu.com';\n\nconst workflow = {\n  \"1\": { \"inputs\": { \"unet_name\": \"z_image_turbo_bf16.safetensors\", \"weight_dtype\": \"default\" }, \"class_type\": \"UNETLoader\" },\n  \"2\": { \"inputs\": { \"vae_name\": \"ae.safetensors\" }, \"class_type\": \"VAELoader\" },\n  \"3\": { \"inputs\": { \"clip_name\": \"qwen_3_4b.safetensors\", \"type\": \"lumina2\", \"device\": \"default\" }, \"class_type\": \"CLIPLoader\" },\n  \"4\": { \"inputs\": { \"shift\": 3, \"model\": [\"1\", 0] }, \"class_type\": \"ModelSamplingAuraFlow\" },\n  \"5\": { \"inputs\": { \"width\": width, \"height\": height, \"batch_size\": 1 }, \"class_type\": \"EmptySD3LatentImage\" },\n  \"6\": { \"inputs\": { \"text\": prompt, \"clip\": [\"3\", 0] }, \"class_type\": \"CLIPTextEncode\" },\n  \"7\": { \"inputs\": { \"text\": negativePrompt, \"clip\": [\"3\", 0] }, \"class_type\": \"CLIPTextEncode\" },\n  \"8\": { \"inputs\": { \"seed\": seed, \"steps\": 15, \"cfg\": 1.5, \"sampler_name\": \"euler\", \"scheduler\": \"simple\", \"denoise\": 1, \"model\": [\"4\", 0], \"positive\": [\"6\", 0], \"negative\": [\"7\", 0], \"latent_image\": [\"5\", 0] }, \"class_type\": \"KSampler\" },\n  \"9\": { \"inputs\": { \"samples\": [\"8\", 0], \"vae\": [\"2\", 0] }, \"class_type\": \"VAEDecode\" },\n  \"10\": { \"inputs\": { \"filename_prefix\": \"FreeGen\", \"images\": [\"9\", 0] }, \"class_type\": \"SaveImage\" }\n};\n\nreturn {\n  comfyui_url: comfyuiUrl,\n  comfyui_payload: { prompt: workflow }\n};"
      },
      "name": "🎨 准备生成参数",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        48
      ],
      "id": "4a15713f-2f68-4cb8-80d1-f127d3291124"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.comfyui_url}}/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.comfyui_payload) }}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "🎬 提交 ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        656,
        48
      ],
      "id": "f918cad5-ab99-400b-a18a-79d8dc0d16b4"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first()?.json || {};\nconst promptId = response?.prompt_id || response?.id;\nconst comfyuiUrl = $input.first()?.json?.comfyui_url || '';\n\nreturn [{\n  json: {\n    executionId: promptId,\n    comfyuiUrl: comfyuiUrl,\n    workflowType: 'image',\n    status: 'submitted'\n  }\n}];"
      },
      "name": "📌 提取任务ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        48
      ],
      "id": "bddaa3fc-9456-4cf9-b687-696e5080a2f8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "📤 返回任务ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1056,
        48
      ],
      "id": "7fa9443d-6e2b-44f3-84c8-13e389fee6cd"
    }
  ],
  "pinData": {
    "📥 Webhook 接收": [
      {
        "json": {
          "headers": {
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "prompt": "扁平矢量插画，一棵开满彩色苹果的魔法树，树下有藤编篮子，童话风格，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩",
            "negative_prompt": "blurry, low quality, deformed, ugly, bad anatomy",
            "width": 1024,
            "height": 1024
          },
          "webhookUrl": "http://117.50.218.161:5678/webhook/ai-free-image-generation",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "📥 Webhook 接收": {
      "main": [
        [
          {
            "node": "🎨 准备生成参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 准备生成参数": {
      "main": [
        [
          {
            "node": "🎬 提交 ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 提交 ComfyUI": {
      "main": [
        [
          {
            "node": "📌 提取任务ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📌 提取任务ID": {
      "main": [
        [
          {
            "node": "📤 返回任务ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "914366c8-75d9-4662-9806-998703b2ecdf",
  "meta": {
    "instanceId": "7185505d6331a771c013a5da6d967be5270273cfc524175c4267715e3ff62d5c"
  },
  "id": "cXSOvlnODaYi4B6Y",
  "tags": []
}