docs/ai-image-to-image.json
{
    "name": "ai-image-to-image",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ai-image-to-image",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "📥 Webhook 接收",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300],
        "webhookId": "ai-image-to-image"
      },
      {
        "parameters": {
          "jsCode": "// 图生图参数准备\nconst item = $input.first()?.json || {};\nconst prompt = item.optimized_prompt || item.prompt;\nconst negativePrompt = item.negative_prompt || '';\nconst initImage = item.image_url || item.image_base64;\nconst strength = item.strength || 0.75;\n\nreturn [{\n  json: {\n    workflow_type: 'image-to-image',\n    prompt: prompt,\n    negative_prompt: negativePrompt,\n    init_image: initImage,\n    strength: strength\n  }\n}];"
        },
        "name": "🎨 准备图生图参数",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [450, 300]
      },
      {
        "parameters": {
          "url": "={{$env.COMFYUI_URL}}/prompt",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "prompt",
                "value": "={{$json.prompt}}"
              },
              {
                "name": "init_image",
                "value": "={{$json.init_image}}"
              },
              {
                "name": "strength",
                "value": "={{$json.strength}}"
              }
            ]
          },
          "options": {
            "timeout": 60000
          }
        },
        "name": "🎬 提交图生图",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [650, 300]
      },
      {
        "parameters": {
          "jsCode": "// 提取 prompt_id\nconst response = $input.first()?.json || {};\nconst promptId = response?.prompt_id || response?.id;\n\nreturn [{\n  json: {\n    executionId: promptId,\n    workflowType: 'image-to-image',\n    status: 'submitted'\n  }\n}];"
        },
        "name": "📌 提取任务ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [850, 300]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "name": "📤 返回任务ID",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1050, 300]
      }
    ],
    "connections": {
      "📥 Webhook 接收": {
        "main": [[{ "node": "🎨 准备图生图参数", "type": "main", "index": 0 }]]
      },
      "🎨 准备图生图参数": {
        "main": [[{ "node": "🎬 提交图生图", "type": "main", "index": 0 }]]
      },
      "🎬 提交图生图": {
        "main": [[{ "node": "📌 提取任务ID", "type": "main", "index": 0 }]]
      },
      "📌 提取任务ID": {
        "main": [[{ "node": "📤 返回任务ID", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }