docs/ai-prompt-processing.json
{
  "name": "ai-prompt-processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-prompt-processing",
        "responseMode": "lastNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json || {};\nconst text = item.body?.prompt || '';\n\nconst systemPrompt = `你是一个专业的场景描述分析助手。你的任务是从用户的场景描述中提取：\n1. 背景环境描述（不包含任何角色的描述）\n2. 每个IP角色的具体动作描述\n\n请以JSON格式返回，格式如下：\n{\n  \"background\": \"背景环境描述\",\n  \"roles\": {\n    \"poppy\": \"角色动作描述\",\n    \"edi\": \"角色动作描述\"\n  }\n}\n\n重要规则：\n\n【IP角色固有属性守则 - 必须严格遵守】\n所有角色均为\"非人类卡通生物\"，其视觉特征必须严格遵循以下限制：\n- **禁止添加衣物**：它们不穿任何衣服、内衣、背心、外套、裤子或裙子。\n- **禁止添加鞋帽**：它们始终赤脚，不穿鞋子、袜子、运动鞋，也不戴帽子。\n- **禁止添加头发**：它们没有头发，不存在\"发丝飞扬\"、\"马尾\"、\"短发\"等描述。\n- **禁止拟人化细节**：没有睫毛、眼影、指甲、脚趾、肚脐或明显的肌肉线条。\n- **五官特征**：眼睛是极简的纯黑实心圆点，嘴巴是简单的黑色线条，没有任何复杂的瞳孔、白眼球或唇色。\n- **肢体特征**：四肢为极简的细长管状（线条状），手脚是圆润的末端，没有手指和脚趾的区分。\n\n【背景描述要求】\n- 必须详细丰富，包含：时间、天气、光线、色调、氛围、环境元素、关键状态\n- 必须包含的风格关键词：扁平矢量插画，粗细均匀的黑色轮廓线，单线风格，2D扁平设计，无渐变，无阴影，低饱和度的平涂色彩、和谐的柔和色调、连贯的配色方案，简化但风格化的背景环境，清晰的环境线稿，非写实扁平插画，干净亲和的美学，沉浸式叙事扁平背景，画面无人物无文字\n- 禁止出现任何角色或小动物\n- 示例：\n  * \"夜晚的楼顶\" → \"扁平矢量插画，单线风格，2D扁平设计，低饱和度平涂色彩，夜晚城市楼顶，深蓝夜空繁星点点，明亮月光洒在地面，远处城市夜景灯火辉煌，楼顶有护栏和绿植，简洁环境线稿，非写实扁平插画，干净亲和美学，沉浸式叙事扁平背景，宁静浪漫氛围，画面无人物无文字\"\n\n【角色动作描述要求】\n- 只描述角色本身，不包含任何背景、环境、场景元素\n- 详细具体：具体动作、姿态细节、表情神态、与小物件的互动\n- 允许小物件：家具（椅子、桌子等）、小物品（书本、杯子、玩具、望远镜等道具）\n- 绝对禁止：天空、太阳、月亮、星星、地面、建筑、树木等任何背景元素`;\n\nreturn [{\n  json: {\n    system: systemPrompt,\n    user: text\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "构建提示词",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": {
          "__rl": true,
          "value": "qwen3.6-plus",
          "mode": "list",
          "cachedResultName": "qwen3.6-plus"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.system }}"
            },
            {
              "role": "user",
              "content": "={{ $json.user }}"
            }
          ]
        },
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "id": "chat-model",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item().json;\nconst content = response?.choices?.[0]?.message?.content || response?.message?.content || '';\n\ntry {\n  const json = JSON.parse(content);\n  return [{ json }];\n} catch (e) {\n  return [{ json: { background: '', roles: {} } }];\n}"
      },
      "id": "parse-output",
      "name": "解析输出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "构建提示词", "type": "main", "index": 0 }]] },
    "构建提示词": { "main": [[{ "node": "Chat Model", "type": "main", "index": 0 }]] },
    "Chat Model": { "main": [[{ "node": "解析输出", "type": "main", "index": 0 }]] },
    "解析输出": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true
}
