docs/ai-scene-generation.json
{
  "name": "ai-scene-generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-scene-generation",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "ai-scene-generation"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json || {};\nconst prompt = item.prompt || item.text || '';\n\nreturn [{\n  json: {\n    prompt: prompt,\n    text: prompt,\n    type: 'keywords'\n  }\n}];"
      },
      "name": "Prep Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "={{$env.N8N_WEBHOOK_BASE}}/ai-extract-keywords",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "text", "value": "={{$json.prompt}}"},
            {"name": "type", "value": "={{$json.type}}"}
          ]
        },
        "options": {"timeout": 30000}
      },
      "name": "Call Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first()?.json || {};\nconst data = response?.data || {};\nconst background = data.background || '';\nconst roles = data.roles || {};\n\nconst items = [];\n\nif (background) {\n  items.push({json: {type: 'background', prompt: background, workflow_type: 'background', width: 1920, height: 1080}});\n}\n\nfor (const [name, action] of Object.entries(roles)) {\n  items.push({json: {type: 'character', character_name: name, prompt: action, workflow_type: 'person', width: 1024, height: 1024}});\n}\n\nif (items.length === 0) {\n  items.push({json: {type: 'empty', prompt: '', workflow_type: 'none'}});\n}\n\nreturn items;"
      },
      "name": "Split Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsCode": "const item = $input.first()?.json || {};\nconst prompt = item.prompt || '';\nconst workflowType = item.workflow_type || 'scene';\nconst width = item.width || 1024;\nconst height = item.height || 1024;\nconst characterName = item.character_name || null;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    optimized_prompt: prompt,\n    width: width,\n    height: height,\n    count: 1,\n    workflow_type: workflowType,\n    character_name: characterName\n  }\n}];"
      },
      "name": "Prep Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "url": "={{$env.COMFYUI_URL}}/prompt",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "prompt", "value": "={{$json.prompt}}"},
            {"name": "negative_prompt", "value": "={{$json.negative_prompt || ''}}"},
            {"name": "width", "value": "={{$json.width}}"},
            {"name": "height", "value": "={{$json.height}}"},
            {"name": "workflow_type", "value": "={{$json.workflow_type}}"},
            {"name": "character_name", "value": "={{$json.character_name}}"}
          ]
        },
        "options": {"timeout": 120000}
      },
      "name": "Call ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first()?.json || {};\nconst originalItem = $('Split Tasks').first()?.json || {};\n\nreturn [{\n  json: {\n    type: originalItem.type,\n    character_name: originalItem.character_name,\n    prompt: originalItem.prompt,\n    executionId: response.prompt_id || response.id,\n    workflowType: originalItem.workflow_type,\n    status: 'submitted'\n  }\n}];"
      },
      "name": "Extract ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [{\n  json: {\n    success: true,\n    totalTasks: items.length,\n    tasks: items.map(item => ({\n      type: item.json.type,\n      character_name: item.json.character_name,\n      executionId: item.json.executionId,\n      workflowType: item.json.workflowType,\n      status: item.json.status\n    }))\n  }\n}];"
      },
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1600, 300]
    }
  ],
  "connections": {
    "Webhook In": {"main": [[{"node": "Prep Params", "type": "main", "index": 0}]]},
    "Prep Params": {"main": [[{"node": "Call Extract", "type": "main", "index": 0}]]},
    "Call Extract": {"main": [[{"node": "Split Tasks", "type": "main", "index": 0}]]},
    "Split Tasks": {"main": [[{"node": "Prep Image", "type": "main", "index": 0}]]},
    "Prep Image": {"main": [[{"node": "Call ComfyUI", "type": "main", "index": 0}]]},
    "Call ComfyUI": {"main": [[{"node": "Extract ID", "type": "main", "index": 0}]]},
    "Extract ID": {"main": [[{"node": "Merge Results", "type": "main", "index": 0}]]},
    "Merge Results": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticCardData": {
    "environmentVariables": [
      {"name": "N8N_WEBHOOK_BASE", "value": "http://117.50.218.161:5678"},
      {"name": "COMFYUI_URL", "value": "http://117.50.218.161:8188"}
    ]
  }
}
