docs/ai-storyboard-generation.json
{
    "name": "ai-storyboard-generation",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ai-storyboard-generation",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "📥 Webhook 接收",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300],
        "webhookId": "ai-storyboard-generation"
      },
      {
        "parameters": {
          "jsCode": "// 分镜图生成参数准备（接收优化后的提示词）\nconst item = $input.first()?.json || {};\nconst prompt = item.optimized_prompt || item.prompt;\nconst negativePrompt = item.negative_prompt || '';\nconst sceneCount = item.scene_count || 4;\nconst style = item.style || 'default';\n\nreturn [{\n  json: {\n    workflow_type: 'storyboard',\n    prompt: prompt,\n    negative_prompt: negativePrompt,\n    scene_count: sceneCount,\n    style: style\n  }\n}];"
        },
        "name": "🎨 准备分镜参数",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [450, 300]
      },
      {
        "parameters": {
          "url": "={{$env.COMFYUI_URL}}/prompt",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "prompt",
                "value": "={{$json.prompt}}"
              },
              {
                "name": "scene_count",
                "value": "={{$json.scene_count}}"
              },
              {
                "name": "style",
                "value": "={{$json.style}}"
              }
            ]
          },
          "options": {
            "timeout": 120000
          }
        },
        "name": "🎬 提交分镜生成",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [650, 300]
      },
      {
        "parameters": {
          "jsCode": "// 提取 prompt_id\nconst response = $input.first()?.json || {};\nconst promptId = response?.prompt_id || response?.id;\n\nreturn [{\n  json: {\n    executionId: promptId,\n    workflowType: 'storyboard',\n    status: 'submitted'\n  }\n}];"
        },
        "name": "📌 提取任务ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [850, 300]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "name": "📤 返回任务ID",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1050, 300]
      }
    ],
    "connections": {
      "📥 Webhook 接收": {
        "main": [[{ "node": "🎨 准备分镜参数", "type": "main", "index": 0 }]]
      },
      "🎨 准备分镜参数": {
        "main": [[{ "node": "🎬 提交分镜生成", "type": "main", "index": 0 }]]
      },
      "🎬 提交分镜生成": {
        "main": [[{ "node": "📌 提取任务ID", "type": "main", "index": 0 }]]
      },
      "📌 提取任务ID": {
        "main": [[{ "node": "📤 返回任务ID", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }