docs/ai-voice-generation.json
{
    "name": "ai-voice-generation",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ai-voice-generation",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "📥 Webhook 接收",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300],
        "webhookId": "ai-voice-generation"
      },
      {
        "parameters": {
          "jsCode": "// TTS 语音生成参数准备\nconst item = $input.first()?.json || {};\nconst text = item.text || item.content || '';\nconst voice = item.voice || 'female-1';\nconst speed = item.speed || 1.0;\nconst pitch = item.pitch || 1.0;\n\nreturn [{\n  json: {\n    workflow_type: 'voice',\n    text: text,\n    voice: voice,\n    speed: speed,\n    pitch: pitch\n  }\n}];"
        },
        "name": "🗣️ 准备TTS参数",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [450, 300]
      },
      {
        "parameters": {
          "url": "={{$env.COMFYUI_URL}}/prompt",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "={{$json.text}}"
              },
              {
                "name": "voice",
                "value": "={{$json.voice}}"
              },
              {
                "name": "speed",
                "value": "={{$json.speed}}"
              },
              {
                "name": "pitch",
                "value": "={{$json.pitch}}"
              }
            ]
          },
          "options": {
            "timeout": 60000
          }
        },
        "name": "🎙️ 提交TTS",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [650, 300]
      },
      {
        "parameters": {
          "jsCode": "// 提取 prompt_id\nconst response = $input.first()?.json || {};\nconst promptId = response?.prompt_id || response?.id;\n\nreturn [{\n  json: {\n    executionId: promptId,\n    workflowType: 'voice',\n    status: 'submitted'\n  }\n}];"
        },
        "name": "📌 提取任务ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [850, 300]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "name": "📤 返回任务ID",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1050, 300]
      }
    ],
    "connections": {
      "📥 Webhook 接收": {
        "main": [[{ "node": "🗣️ 准备TTS参数", "type": "main", "index": 0 }]]
      },
      "🗣️ 准备TTS参数": {
        "main": [[{ "node": "🎙️ 提交TTS", "type": "main", "index": 0 }]]
      },
      "🎙️ 提交TTS": {
        "main": [[{ "node": "📌 提取任务ID", "type": "main", "index": 0 }]]
      },
      "📌 提取任务ID": {
        "main": [[{ "node": "📤 返回任务ID", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }