docs/ai-video-generation.json
{
    "name": "ai-video-generation",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ai-video-generation",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "📥 Webhook 接收",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300],
        "webhookId": "ai-video-generation"
      },
      {
        "parameters": {
          "jsCode": "// 视频生成参数准备（接收优化后的提示词）\nconst item = $input.first()?.json || {};\nconst prompt = item.optimized_prompt || item.prompt;\nconst negativePrompt = item.negative_prompt || '';\nconst duration = item.duration || 5;\nconst fps = item.fps || 24;\n\nreturn [{\n  json: {\n    workflow_type: 'video',\n    prompt: prompt,\n    negative_prompt: negativePrompt,\n    duration: duration,\n    fps: fps\n  }\n}];"
        },
        "name": "🎬 准备视频参数",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [450, 300]
      },
      {
        "parameters": {
          "url": "={{$env.COMFYUI_URL}}/prompt",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "prompt",
                "value": "={{$json.prompt}}"
              },
              {
                "name": "duration",
                "value": "={{$json.duration}}"
              },
              {
                "name": "fps",
                "value": "={{$json.fps}}"
              }
            ]
          },
          "options": {
            "timeout": 120000
          }
        },
        "name": "🎥 提交视频生成",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [650, 300]
      },
      {
        "parameters": {
          "jsCode": "// 提取 prompt_id\nconst response = $input.first()?.json || {};\nconst promptId = response?.prompt_id || response?.id;\n\nreturn [{\n  json: {\n    executionId: promptId,\n    workflowType: 'video',\n    status: 'submitted'\n  }\n}];"
        },
        "name": "📌 提取任务ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [850, 300]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "name": "📤 返回任务ID",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1050, 300]
      }
    ],
    "connections": {
      "📥 Webhook 接收": {
        "main": [[{ "node": "🎬 准备视频参数", "type": "main", "index": 0 }]]
      },
      "🎬 准备视频参数": {
        "main": [[{ "node": "🎥 提交视频生成", "type": "main", "index": 0 }]]
      },
      "🎥 提交视频生成": {
        "main": [[{ "node": "📌 提取任务ID", "type": "main", "index": 0 }]]
      },
      "📌 提取任务ID": {
        "main": [[{ "node": "📤 返回任务ID", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }